.project-video-link {
	cursor:pointer;
}


.project-video-link:hover {
	color: #555;
	@include prefix(transition, all 500ms);
}


// CONTACT PAGE MAP HIDE GOOGLE STUFF
#map-canvas > div > div:nth-child(7),
#map-canvas > div > div.gmnoprint.gm-style-cc,
#map-canvas > div > div:nth-child(3) {
	display: none;
}


// OURTEAM PAGE TITLE CHANGE

#member-title {
	width:18em;
}

#member-fixed a.sidebar-link {
	@include prefix(transition, all 500ms);
}

#member-fixed a.sidebar-link.current {
	color:#333333;
}

.permalink .all-members {
	letter-spacing: .075em;
}