/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "compass";


// FONTS
@font-face {
    font-family: 'trackregular';
    src: url('fonts/track-webfont.eot');
    src: url('fonts/track-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/track-webfont.woff') format('woff'),
         url('fonts/track-webfont.ttf') format('truetype'),
         url('fonts/track-webfont.svg#trackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300);

// SITE VARIABLES and LAYOUT STYLES

@import "partials/variables";

@import "partials/layout";

@import "partials/gradients";

// dev testing
@import "partials/dev";
// List Items for Our Team
@import "partials/items";

// COMPONENT styles

@import "component/base";

@import "component/nav";

@import "component/sidebar";

@import "component/footer";

@import "component/buttons";

@import "component/textslider";

@import "component/teammember";


// PAGE specific SASS FILES

@import "pages/home";

@import "pages/contact";

@import "pages/projects-video";

@import "pages/single-person";


// INCLUDE VENDOR STYLES
// CAROUSEL styles for HOME page Slider
@import "vendor/carousel/owl.carousel.css";

@import "vendor/carousel/owl.theme.css";
