// VARIABLES
$black: 		rgb(51, 51, 51);
$grey: 			rgb(224,224,226);
$grey-dark:  	rgb(64, 64, 64);
$menu-grey: 	rgb(155,155,155);
$text-grey:		#989899;
$grey-text: 	#989899; 
$popup-grey:	#646465;
$white: 		rgb(255,255,255);
$red: 			#c84938;
$footer-grey:	rgb(145,146,147);
$grey-line:  	rgb(64, 64, 64);


// Typography
$serif: 		'TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif';


// MIXINS
@mixin prefix($property, $value, $prefixes: ("-webkit-","-moz-","-o-","-ms-","")) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }
}
