// OUR TEAM
// SPACE FOR FOOTER
.ourteam .footer { margin-top:1600px; }

// Silo and Member bio
#member-bio {
	z-index: 1;
	
	.team-member {
		width:100%;
		max-width: 1024px;
	}

	.image {width: 20%;}

	.member-text {
		width: 74%;
		margin-left: 2%;
	}

	@media(min-width:480px) {
		.image {width: 30%;}

		.member-text {
			float:left;
			margin-left:0;
		}

		.bio {
			max-width:none;
			font-size: 1em;
			line-height: 1.6em;
		}

		.name { font-size: 1.4rem; }
	}
}

// LAYOUT
.item-list .item-holder {
		position: relative;
		display: inline-block;
	}

.team-member-items h1 {letter-spacing: .13em;}

// TYPE
.item-hover {
	width:100%; min-width:10em;

	position: absolute;
	top:0; left:0; right:0; bottom:0;
	margin:auto; padding:.5rem 1rem;
	display: table;

	background-color: rgba(255, 255, 255, 0.95);
	color:black;
	opacity: 0;

	border: 1px solid rgba(0, 0, 0, 0.15);

	@include prefix(box-shadow, 2px 5px 8px rgba(0, 0, 0, 0.5) );
	@include prefix(transition, all 500ms);

	.item-hover-inner {
		display: table-cell;
		vertical-align: middle;
		padding-top:.5em;
		padding-bottom: 2em;

		h2 {
			font-size: 1.6em;
			letter-spacing: .13em;
			margin-bottom: .5em; margin-top:.5em;
			text-align: center;
		}

		p {
			min-width: 12em;
			margin-bottom:.25em;
			line-height: 1.4em;
		}

		.view-profile {
			display: inline-block;
			font-size: .7em;
			margin:.25em 0;
			color:$grey-text;
			letter-spacing: .1em;
			line-height: 1.4em;

			&:hover { color:$red; }
		}
	}
}


// SINGLE PERSON

// .single { background-color:#fff;}

.pop-up {
	position: relative;
	margin:auto;
	background-color:#ffffff;

	.team-member {
		.member-text {

			.misc-text {
				font-size: .8rem;
				margin-bottom:.75em;
			}

			.name {
				margin-bottom:.5rem;
				font-size: 1.3em;
			}
		}
	}
}