//------------------------------- VIDEO TESTING STYLES ------------------------------------//

// Video container width span length of screen
#vid-test, 
#vid-test-2 {
	margin: 0 auto;
	max-width:none;
}

.project-thumb-bg {
	background-repeat:no-repeat; 
	padding-bottom: 59.5%;
	@media(min-width: 1480px) {
		padding-bottom: 58%;
	}
}

.text-link {
	letter-spacing: .15em;
	color:#000000;
	line-height: 1.4em;
	letter-spacing: .15em;
	padding-top:.5em; padding-bottom:.35em;
	display: inline-block;
	position: relative;
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;
	text-align: center;
}

// Top Button Holder
.features-commercial {
	background-color:#ffffff;
	position: relative;
	height:40px;
	font-size: .75em;

	@media(min-width:480px) {
		height:51px;
		font-size: .938em;
	}

	.button-holder {
		width:50%; float: left;
		text-align: center;
		
		div {
			width:99%; 
			margin: 4px 0 3px;
			border-top:1px solid rgb(192, 192, 192);
			border-bottom:1px solid rgb(192, 192, 192);
			border-right:1px solid rgb(192, 192, 192);

			a {	
				color:$menu-grey;
				display: block;
				width:100%;
				text-align: center;
				max-width: 504px;
				padding: 12px 0 8px;
				letter-spacing: .15em;
				cursor: pointer;

				@include prefix(transition, all 500ms);
				
				@media(min-width:480px) {
					padding: 16px 0 12px;
					font-size: .938em;
				}

				@media(min-width:768px) {
					padding: 15px 0 10px;
				}

				&:hover { color:$black; text-decoration: none;}
				&:active { color:$black;}
			}

			@media(min-width:480px) { margin: 5px 0 4px;}

			@media(min-width:768px) { width:99.5%;}
		}
	}

	.middle-button-holder {
		width:49px;
		float:none;
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		margin:auto;
		div {
			border-left:1px solid silver;
		}
	}

	.button-holder:first-of-type { padding-right:25px; }
	.button-holder:last-of-type { padding-left:25px; }

	.button-holder:first-child > div { 
		text-align:right;

		a {float:right;}
	}
	
	.button-holder:nth-of-type(3) > div {
		display:block;
		float:right;
		border-right:0;
		border-left:1px solid rgb(192, 192, 192);
	}
}

// SELECTED BUTTON Classes
.selected-button {
	// background-color:$grey;
	color:#000;

	@include prefix(transition, all 500ms);	

	div { 
		border-color: #e0e0e2;
		background-color:$grey;

		a { color:#000 !important;}
	}
}

// New Og vid holder try
#og-grid a.img-link {
	height: 0px;
	padding-bottom: 60%;
	display: block;
	@include prefix(transition, all 500ms);
}

.vid-title-holder {	@include prefix(transition, all 500ms); }

#og-grid .og-vid-holder:hover {
	a.img-link {
		@include prefix(transform, translate(0, -26.54088%));
		@include prefix(transition, all 500ms);
	}

	.vid-title-holder {
		@include prefix(transform, translate(0, -100%)); 
		// @include prefix(transition, all 500ms);
	}
}

.active-vid {
	@include prefix(transform, translate(0, -100%)); 
}


.og-grid {
	padding-top:.5em;

	.og-vid-holder {
		padding:0 .25em 0 .25em;
		margin-bottom:.25em; margin-top:.25em;
		overflow:hidden;

		// new styles
		height: 0;
		padding-bottom: 57%;

		@media(min-width:480px) {
			padding-bottom: 29%;
		}

		@media(min-width:960px) {
			padding-bottom: 19%;
		}

		@media(min-width:1480px) {
			padding-bottom: 14%;
		}

		.vid-title-holder {
			width:100%;
			background-color:#ffffff;

			.title {
			
				max-width: 80%;
				display: table;
				margin: auto;
				vertical-align: middle;
				height: 90px;

				@media(min-width:480px) {
					height: 110px;
				}

				div {
					display: table-cell;
					vertical-align: middle;

					a {
						color:#000000;
						line-height: 1.4em;
						letter-spacing: .15em;
						padding-top:.5em; padding-bottom:.35em;
						display: inline-block;
						position: relative;
						border-top: 1px solid $black;
						border-bottom: 1px solid $black;
						text-align: center;
					}
				}
			}
		}
	}
}

// CODE DROP STYLES  -  for expanding VIDEO
.og-grid li.og-expanded > a::after {
    top: auto; left: 50%;
    border: solid transparent; border-width: 15px;
    content: " ";
    height: 0; width: 0;
    position: absolute;
    pointer-events: none;
    margin: -20px 0 0 -15px;
}

.og-expander {
    position: absolute;
    top: auto;
    left: 0;
    width: 100%; height: 0;
    background:#000000;
    margin-top: 10px;
    text-align: left;
    overflow: hidden;

    @include prefix(transform, translateZ(0));
    margin-top: -8%;

    .section-title {
    	background-color:$white;
    	position: relative;

    	.credits { 
    		display: block;
			max-width: 30em;
			margin: auto;
    		text-align: center;

			padding-top:37px;
			padding-bottom:37px;
    	}
    }
}

.og-expander-inner {
    padding: 50px 0;
    text-align: center;
}

.og-fullimg video {
	margin-bottom: 1em;
	// width: 70%;
	width: 90%;
	max-width: 940px;
}

.p-name {
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'trackregular';
	line-height: 1.2em;
	letter-spacing: .15em;
	width:75%;
	max-width: 30em;
	margin:0 auto .5em;

	&:before {
		content: '';
		display: block;
		border-top: 1px solid $grey-line;
		height: 14px;
	}

	&:after {
		content: '';
		display: block;
		border-bottom: 1px solid $grey-line;
		height: 12px;
	}

}

// the 'X' Close button
.og-close {
    position: absolute;
    width: 28px; height: 28px;
    top: 20px; right: 20px;
    cursor: pointer;

    background-image:url('../img/build/projects/close.png');
    background-repeat: no-repeat;
}

// Preloader
.og-loading {
    width: 20px; height: 20px;
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
    position: absolute;
    top: 50%; left: 50%;
    margin: -25px 0 0 -25px;
    animation: loader 0.5s infinite ease-in-out both;
}
 
@keyframes loader {
    0% { background: #ddd; }
    33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
    66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

// Text Media Queries & hide full image preview on mobile
#og-grid > li {
	width: 100%;
	float: left;
}

#og-grid > li img {
	width: 100%;
}

@media screen and (min-width: 480px) {
	#og-grid > li {
		width: 50%;
	}

	// #og-grid > li:nth-of-type(2n+1) {
	// 	clear: left;
	// }

}
 
@media screen and (min-width: 960px) {
	#og-grid > li {
		width: 33%;		
	}
	
	// #og-grid > li:nth-of-type(2n+1) {
	// 	clear: none;
	// }

	// #og-grid > li:nth-of-type(3n+1) {
	// 	clear: left;
	// }
}

@media(min-width: 1480px) {
	#og-grid > li {
		width: 25%;
	}

	// #og-grid > li:nth-of-type(3n+1) {
	// 	clear: none;
	// }

	// #og-grid > li:nth-of-type(4n+1) {
	// 	clear: left;
	// }
}


// STYLES for the SECOND thumbnail on Project Page Hover
.sec-image {
    background-size:cover;
    background-position:50%;
    background-repeat:no-repeat;
}

