// SINGLE PERSON

.single { background-color:#fff;}

.pop-up {
	position: relative;
	margin:auto;
	background-color:#ffffff;

	.team-member {
		.member-text {

			.misc-text {
				font-size: .8rem;
				margin-bottom:.75em;
			}

			.name {
				margin-bottom:.5rem;
				font-size: 1.3em;
			}
		}
	}
}