// VARIABLES
$black: 		rgb(51, 51, 51);
$grey: 			rgb(224,224,226);
$grey-dark:  	rgb(64, 64, 64);
$menu-grey: 	rgb(155,155,155);
$text-grey:		#989899;
$grey-text: 	#989899; 
$popup-grey:	#646465;
$white: 		rgb(255,255,255);
$red: 			#c84938;
$footer-grey:	rgb(145,146,147);
$grey-line:  	rgb(64, 64, 64);


// Typography
$serif: 		'TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif';


// MIXINS
@mixin prefix($property, $value, $prefixes: ("-webkit-","-moz-","-o-","-ms-","")) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }
}


.serif {
  font-family: 'Times New Roman' serif;
  line-height: 1.5em;
}

* {
	box-sizing: border-box;
}


body {
	font-size: .938em; line-height: 1.4em;
	font-family: 'trackregular' sans-serif;
	background-color:#222;

	@media(min-width:768px) {
		font-size: 1em;
	}
}


li {list-style-type: none;}


ul {padding-left:0; margin:0;}


.sidebar-button-holder {
	display: block; 
	margin-top: 0; margin-bottom: 0;
	text-align: left;
	height: 42px;
	position: absolute;
	right:0; top: 0;
	background: white;
	border-left: 0; border-top: 0; border-bottom:0; border-right: 0;
	border-radius: 0;

	text-shadow: none;
	color: #222;
	font-weight: 400;
}

.sidebar-button-holder:hover {
	color:#000;
}


@media(min-width: 600px) {
	.sidebar-button-holder {
		width: 60px; height: 100%;
		left:auto; right: 0; top: 0;
		border-left: 1px solid #999999;
		border-top: 0; border-bottom: 0; border-right: 0;
	}
}

#toppaneloverlay {
	max-height: none;
}

#new-mmenu #page-home, 
#new-mmenu #page-ourteam, 
#new-mmenu #page-contact, 
#new-mmenu #page-projects {
	width: 100%;
}

.all-items-holder {
	position: relative;
}

.content-inner {
	width:100%; max-width: 1024px;
	margin: 0 auto;
}




