/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'trackregular';
  src: url("fonts/track-webfont.eot");
  src: url("fonts/track-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/track-webfont.woff") format("woff"), url("fonts/track-webfont.ttf") format("truetype"), url("fonts/track-webfont.svg#trackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 27, ../sass/_base.scss */
.serif {
  font-family: 'Times New Roman' serif;
  line-height: 1.5em;
}

/* line 33, ../sass/_base.scss */
body {
  font-size: .938em;
  line-height: 1.4em;
  font-family: 'trackregular' sans-serif;
  background-color: #222;
}
@media (min-width: 768px) {
  /* line 33, ../sass/_base.scss */
  body {
    font-size: 1em;
  }
}

/* line 6, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items {
  padding-bottom: 100%;
}
@media (min-width: 1024px) {
  /* line 6, ../sass/ourteam/_items-solo.scss */
  .js-single-member #all-items-holder .all-items {
    padding-bottom: 1000px;
  }
}
/* line 14, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.skiboots.corymelious {
  top: 35.5%;
  left: 57%;
}
/* line 19, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.recorder.corymelious {
  top: 0%;
  left: 31%;
}
/* line 24, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.drumsticks.corymelious {
  top: 36.6%;
  left: 13%;
}
/* line 29, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.homebrewbook.corymelious {
  top: 5%;
  left: 10%;
}
/* line 34, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.campingstove.corymelious {
  top: 37%;
  left: 24%;
}
/* line 39, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.hammer.corymelious {
  top: 6.3%;
  left: 50.5%;
}
/* line 44, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.fly.corymelious {
  top: 13.65%;
  left: 77.2%;
}
/* line 48, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.shaker.corymelious {
  top: 4%;
  left: 70%;
}
/* line 55, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.guitar.elizabethmcclanahan {
  top: 0;
  left: 7.5%;
}
/* line 59, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.saintsjersey.elizabethmcclanahan {
  top: 26%;
  left: 64.5%;
}
/* line 65, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.yogamat.elizabethmcclanahan {
  top: 53%;
  left: 4%;
}
/* line 76, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.tvguide.elizabethmcclanahan {
  top: 28.4%;
  left: 46%;
}
/* line 83, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.readingglasses.elizabethmcclanahan {
  top: 30.5%;
  left: 22%;
}
/* line 89, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.librarycard.elizabethmcclanahan {
  top: 40%;
  left: 28.75%;
}
/* line 97, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.boo.ericwarzecha {
  top: 7%;
  left: 14%;
}
/* line 101, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.sabresjersey.ericwarzecha {
  top: 0;
  left: 31%;
  padding-right: 10%;
  padding-left: 6%;
}
/* line 112, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.minorthreat.ericwarzecha {
  top: 34%;
  left: 12%;
}
/* line 117, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.guitar.ericwarzecha {
  top: 52%;
  left: 22.5%;
  padding-right: 10%;
}
/* line 124, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.telluridepicture.ericwarzecha {
  top: 66%;
  left: 47%;
}
/* line 132, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.leela.evanmangiamele {
  top: 3%;
  left: 13.5%;
}
/* line 136, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.drumsticks.evanmangiamele {
  top: 4%;
  left: 40%;
}
/* line 140, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.gameboy.evanmangiamele {
  top: 4%;
  left: 73%;
}
/* line 144, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.controller.evanmangiamele {
  top: 27%;
  left: 49.5%;
}
/* line 148, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.growler.evanmangiamele {
  top: 20.8%;
  left: 15%;
}
/* line 155, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.firesticks.garynoel {
  top: -2%;
  left: 4%;
}
/* line 159, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.coral.garynoel {
  top: 5%;
  left: 33.5%;
}
/* line 163, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.amctrailguide.garynoel {
  top: 4.75%;
  left: 75.5%;
}
/* line 167, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.hasselblad.garynoel {
  top: 42.9%;
  left: 62%;
}
/* line 171, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.wacom.garynoel {
  top: 4.48%;
  left: 66.5%;
}
/* line 175, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.baseball.garynoel {
  top: 28.5%;
  left: 77%;
}
/* line 179, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.grillutensils.garynoel {
  top: 30%;
  left: 43%;
}
/* line 183, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.mouse.garynoel {
  top: 27.9%;
  left: 65%;
}
/* line 190, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.taiwanbeer.jeremysiegal {
  top: 32%;
  left: 53%;
}
/* line 201, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.s1991nikeairjordanvi.jeremysiegal {
  top: 21.7%;
  left: 63%;
}
/* line 206, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.bapexbyabathingape.jeremysiegal {
  top: 4%;
  left: 85%;
}
/* line 211, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.ambushpowchain.jeremysiegal {
  top: 2%;
  left: 61.5%;
}
/* line 217, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.retinamacbookpro.jeremysiegal {
  top: 32%;
  left: 9.5%;
}
/* line 221, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.kanyewest.jeremysiegal {
  top: 2%;
  left: 25%;
}
/* line 227, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.sampler.jeremysiegal {
  top: 4.85%;
  left: 5%;
}
/* line 237, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.book.jodilevine {
  top: 2%;
  left: 72.5%;
}
/* line 241, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.rug.jodilevine {
  top: 27.5%;
  left: 46%;
}
/* line 245, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.rings.jodilevine {
  top: 21%;
  left: 55%;
}
/* line 249, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.pouch.jodilevine {
  top: 2%;
  left: 46%;
}
/* line 253, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.sneakers.jodilevine {
  top: 0;
  left: 7%;
}
/* line 257, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.seeds.jodilevine {
  top: 39.8%;
  left: 13%;
}
/* line 261, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.knittingneedle.jodilevine {
  top: 66.6%;
  left: 11%;
}
/* line 265, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.yogamat.jodilevine {
  top: 65.5%;
  left: 40%;
}
/* line 272, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.necklace.katieflynn {
  top: 42%;
  left: 60%;
}
/* line 278, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.whisk.katieflynn {
  top: 38%;
  left: 82.5%;
}
/* line 284, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.film.katieflynn {
  top: 11%;
  left: 49.5%;
}
/* line 290, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.soccerclete.katieflynn {
  top: 42%;
  left: 5%;
}
/* line 296, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.pizza.katieflynn {
  top: 41%;
  left: 24%;
}
/* line 302, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.drill.katieflynn {
  top: 1%;
  left: 63%;
}
/* line 309, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.chargersjersey.katieflynn {
  top: 0%;
  left: 14%;
}
/* line 318, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.q102tshirt.philiploeb {
  top: 0;
  left: 66%;
}
/* line 322, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.turkey.philiploeb {
  top: 2%;
  left: 31.5%;
}
/* line 326, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.smashedpenny.philiploeb {
  top: 30%;
  left: 52.5%;
}
/* line 334, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.linushueycassette.philiploeb {
  top: 1.5%;
  left: 11.5%;
}
/* line 338, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.cassette.philiploeb {
  top: 19.5%;
  left: 11.4%;
}
/* line 342, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.beardoll.philiploeb {
  top: 29%;
  left: 55.8%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 345, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.beardoll.philiploeb > .neighbor {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 348, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.painting.philiploeb {
  top: 32%;
  left: 7%;
}
/* line 358, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.floraldress.sashaawn {
  top: 0;
  left: 4.5%;
}
/* line 362, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.bikepedal.sashaawn {
  top: 4%;
  left: 50.5%;
}
/* line 366, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.passport.sashaawn {
  top: 3.65%;
  left: 78.7%;
}
/* line 372, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.trapezegrips.sashaawn {
  top: 15.25%;
  left: 45.7%;
  z-index: 1;
}
/* line 377, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.theremin.sashaawn {
  top: 28.55%;
  left: 46%;
}
/* line 384, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.rum.keithreynaud {
  top: 0%;
  left: 11%;
}
/* line 388, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.barn.keithreynaud {
  top: .5%;
  left: 50%;
}
/* line 392, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.fishinglure.keithreynaud {
  top: 21%;
  left: 60%;
}
/* line 396, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.blade.keithreynaud {
  top: 1%;
  left: 66%;
}
/* line 400, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.plasticbaby.keithreynaud {
  top: 27%;
  left: 68.5%;
}
/* line 404, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.castironpan.keithreynaud {
  top: 27.5%;
  left: 55.7%;
}
/* line 408, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.carfridge.keithreynaud {
  top: 16.3%;
  left: 9.5%;
}
/* line 415, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.snowboard.danflosdorf {
  top: 0;
  left: 13%;
}
/* line 419, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.yuengling.danflosdorf {
  top: 19.9%;
  left: 39.5%;
}
/* line 423, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.watch.danflosdorf {
  top: 51.9%;
  left: 39.5%;
}
/* line 427, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.skateboard.danflosdorf {
  top: 10.75%;
  left: 53.5%;
}
/* line 431, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.hockeystick.danflosdorf {
  top: 1.7%;
  left: 72%;
}
/* line 440, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.jayson.gloriapitagorsky {
  top: 3%;
  left: 11%;
}
/* line 444, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.bracelet.gloriapitagorsky {
  top: 2%;
  left: 34%;
}
/* line 448, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.scarf.gloriapitagorsky {
  top: 0;
  left: 47.5%;
}
/* line 452, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.montaukmagnet.gloriapitagorsky {
  top: 23.4%;
  left: 69.5%;
}
/* line 456, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.zagat.gloriapitagorsky {
  top: 39.8%;
  left: 60.5%;
}
/* line 460, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.poster.gloriapitagorsky {
  top: 55%;
  left: 63.5%;
}
/* line 464, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.flowers.gloriapitagorsky {
  top: 17.25%;
  left: 32.5%;
}
/* line 468, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.necklace.gloriapitagorsky {
  top: 37%;
  left: 40.5%;
}
/* line 472, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.ring.gloriapitagorsky {
  top: 42.45%;
  left: 34.5%;
}
/* line 476, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.elephantfigure.gloriapitagorsky {
  top: 62%;
  left: 37%;
}
/* line 480, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.nytimes.gloriapitagorsky {
  top: 23.6%;
  left: 8.5%;
}
/* line 484, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.boardbinder.gloriapitagorsky {
  top: 50.4%;
  left: 8.5%;
}
/* line 491, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.ipadipodiphone.peonyrene {
  top: 3%;
  left: 13%;
}
/* line 495, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.lipstick.peonyrene {
  top: 3%;
  left: 38.5%;
}
/* line 499, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.necklace.peonyrene {
  top: 9%;
  left: 19%;
}
/* line 503, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.bag.peonyrene {
  top: 4.6%;
  left: 61%;
}
/* line 507, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.pandorabracelet.peonyrene {
  top: 35.3%;
  left: 18.75%;
}
/* line 511, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.carkeys.peonyrene {
  top: 34.25%;
  left: 41.5%;
}
/* line 515, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.brunomars.peonyrene {
  top: 30.7%;
  left: 65%;
}
/* line 522, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.minnieripperton.taliarodgers {
  top: 3%;
  left: 9.5%;
}
/* line 526, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.beachbum.taliarodgers {
  top: 1%;
  left: 45%;
}
/* line 530, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.toy.taliarodgers {
  top: 1%;
  left: 69%;
}
/* line 534, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.tanktop.taliarodgers {
  top: 23.7%;
  left: 38%;
}
/* line 538, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.books.taliarodgers {
  top: 31.15%;
  left: 12%;
}
/* line 542, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.nikefreehyperfeels.taliarodgers {
  top: 54.5%;
  left: 6.5%;
}
/* line 546, ../sass/ourteam/_items-solo.scss */
.js-single-member #all-items-holder .all-items li.item.comics.taliarodgers {
  top: 38.6%;
  left: 70%;
}

/* line 2, ../sass/ourteam/_ourteam-base.scss */
a.ui-btn.ui-btn-inline.ui-btn-up-b.sidebar-link,
a.ui-btn.ui-btn-inline.ui-btn-up-b.all-members {
  font-family: 'trackregular' sans-serif;
  color: #989899;
  font-size: 12px;
  text-shadow: none;
  border: 0;
  background: none;
  font-weight: 400;
}

/* line 12, ../sass/ourteam/_ourteam-base.scss */
a {
  font-weight: 400;
}

/* line 14, ../sass/ourteam/_ourteam-base.scss */
#ourteam > div.ui-panel-content-wrap.ui-body-b.ui-panel-animate.ui-panel-content-wrap-closed {
  background: #ffffff;
}

/* line 19, ../sass/ourteam/_ourteam-base.scss */
#rightpanel {
  z-index: 999;
}

/* line 23, ../sass/ourteam/_ourteam-base.scss */
#rightpanel,
.ui-panel-inner {
  background-image: none;
  background-color: #fff;
}

@media (min-width: 600px) {
  /* line 30, ../sass/ourteam/_ourteam-base.scss */
  .desk-hidden {
    display: none;
  }

  /* line 34, ../sass/ourteam/_ourteam-base.scss */
  #member-fixed {
    padding-top: 50px;
  }
}
/* line 41, ../sass/ourteam/_ourteam-base.scss */
#ourteam > div.ui-panel-content-wrap {
  background: #fff;
  background-image: none;
}

/* line 46, ../sass/ourteam/_ourteam-base.scss */
#rightpanel {
  border-left: 1px solid #999999;
}

/* line 50, ../sass/ourteam/_ourteam-base.scss */
#toppaneloverlay {
  max-height: none;
  padding-top: 42px;
}

/* line 55, ../sass/ourteam/_ourteam-base.scss */
#toppaneloverlay > div {
  padding: 0;
}

/* line 60, ../sass/ourteam/_ourteam-base.scss */
#ourteam > div.ui-header {
  border-bottom: 1px solid #999999 !important;
  z-index: 2000;
}

/* line 65, ../sass/ourteam/_ourteam-base.scss */
#ourteam > div.ui-header h1 {
  font-size: 13px;
  margin: 0;
  line-height: 42px;
}

/* line 72, ../sass/ourteam/_ourteam-base.scss */
#ourteam > div.ui-header.ui-bar-a.ui-panel-content-fixed-toolbar.ui-panel-animate.ui-panel-content-fixed-toolbar-closed.ui-header-fixed.slidedown > a,
#ourteam > div.ui-header.ui-bar-a.ui-panel-content-fixed-toolbar.ui-panel-animate.ui-panel-content-fixed-toolbar-closed.ui-header-fixed.slidedown > a > span {
  border: 0;
  border-image: none;
}

/* line 90, ../sass/ourteam/_ourteam-base.scss */
div.ui-header.ui-bar-a.ui-panel-content-fixed-toolbar.ui-panel-animate.ui-header-fixed.slidedown.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-display-overlay.ui-panel-content-fixed-toolbar-open,
#ourteam > div.ui-header > a,
#ourteam > div.ui-header,
#ourteam > div.ui-header > a > span > span,
#ourteam > div.ui-header > a > span,
#page-ourteam > p > a > span,
#page-projects > p > a > span,
#page-contact > p > a > span,
#page-home > p > a > span,
div.ui-header.ui-bar-a.ui-panel-content-fixed-toolbar.ui-panel-animate.ui-header-fixed.slidedown.ui-panel-content-fixed-toolbar-closed,
#ourteam > div.ui-header.ui-bar-a.ui-panel-content-fixed-toolbar.ui-panel-animate.ui-header-fixed.slidedown.ui-fixed-hidden.ui-panel-content-fixed-toolbar-position-top.ui-panel-content-fixed-toolbar-display-overlay.ui-panel-content-fixed-toolbar-open {
  border: 0;
  background-color: #e0e0e2;
  background-image: none;
  text-shadow: none;
  color: #222;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-family: 'trackregular' sans-serif;
  border-radius: 0;
}

/* line 106, ../sass/ourteam/_ourteam-base.scss */
#page-ourteam > p > a,
#page-projects > p > a,
#page-contact > p > a,
#page-home > p > a {
  border: 0;
}
