#main {
	max-width: 1024px;
	margin: 0 auto;
	/*height: 11895px;*/
}

#toggle-bar {
	text-align: center;
}

.page-title {
	text-transform: uppercase;
	text-shadow:none;
	font-weight: normal;
	color:#333;
}

.home #demo-page,
.home {
	background-color: #222;