.clearfix:before, .container:after { content: ""; display: table; }  
.clearfix:after { clear: both; }  
  
/* IE 6/7 */  
.clearfix { zoom: 1; }  

nav { position: fixed; width: 100%;}

#mobile {background: #a6a6a2;}

a.right-arrow.ui-link {
/*	float: right;*/
position: absolute; right:0;
}

.center-toggle {
	cursor: pointer;
}

nav#mobile .navicon {
	padding: 0 12px;
	position: absolute; left:0;
}

 nav#mobile .right-arrow {
 	float: right;
	padding: 0 12px;
}

nav#mobile #toggle-bar {
    line-height:50px;
    height:50px;
	
}
nav#mobile #toggle-bar a {
	text-decoration: none;
	text-shadow:none;
	color:black;
}

#main {
	padding-top:50px;
}

#mmenu {
	margin: 0 auto;
	padding: 0;
}
#mmenu li,
#mmenu li a { 
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 35px;
	text-shadow:none;
	color:black;
	letter-spacing: .2em;
}

#mobile {
	z-index: 1000;
}

	@media screen and (max-width: 960px) {
	    #nav#full {
	        display:none
	    }
	 
	 
	    nav#mobile strong a {
	        margin-left:30px;
	        border:1px solid #444;
	        padding:10px;
	    }
	 
	    /*
	    Toggle button #2 ("Navicon")
	    */
	 
	    

	 
	    /*
	    The dropdown menu
	    */
	 
	    nav#mobile ul li {
	        clear:both;
	        list-style:none;
	    }
	 
	    nav#mobile ul li a {
	        display:inline-block;
	        text-align: center;
	        /*background-color:#300;*/
	        text-transform:uppercase;
	        letter-spacing:.2em;
	        margin:2px 0;
	        padding:6px 0 6px 8px;
	        text-shadow:0;
	        font-weight: 400;
	    }
	 
	    nav#mobile ul ul {
	        font-size:small;
	    }

	}


#main {
	padding:0;
}