#anim-holder {
position: absolute;
background: white;
width: 100%;
height: 100%;
z-index: 2000;
top: 0;
left: 0;
}

#preload-anim {
	/* width: 100px; */
	position: absolute; top:0; bottom:0; left:0; right:0;
	margin: auto;
	background-image:url('../../images/sprites/preload-sprite.jpg');
	background-repeat: no-repeat;
}
.sprite-pre_loader20000{ background-position: 0 0; width:0px; height:0px; } 
.sprite-pre_loader20001{ background-position: 0 0; width: 190px; height: 190px; } 
.sprite-pre_loader20002{ background-position: 0 -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20003{ background-position: 0 -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20004{ background-position: 0 -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20005{ background-position: 0 -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20006{ background-position: -240px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20007{ background-position: -240px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20008{ background-position: -240px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20009{ background-position: -240px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20010{ background-position: -240px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20011{ background-position: -480px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20012{ background-position: -480px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20013{ background-position: -480px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20014{ background-position: -480px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20015{ background-position: -480px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20016{ background-position: -720px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20017{ background-position: -720px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20018{ background-position: -720px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20019{ background-position: -720px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20020{ background-position: -720px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20021{ background-position: -960px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20022{ background-position: -960px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20023{ background-position: -960px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20024{ background-position: -960px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20025{ background-position: -960px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20026{ background-position: -1200px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20027{ background-position: -1200px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20028{ background-position: -1200px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20029{ background-position: -1200px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20030{ background-position: -1200px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20031{ background-position: -1440px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20032{ background-position: -1440px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20033{ background-position: -1440px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20034{ background-position: -1440px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20035{ background-position: -1440px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20036{ background-position: -1680px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20037{ background-position: -1680px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20038{ background-position: -1680px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20039{ background-position: -1680px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20040{ background-position: -1680px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20041{ background-position: -1920px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20042{ background-position: -1920px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20043{ background-position: -1920px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20044{ background-position: -1920px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20045{ background-position: -1920px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20046{ background-position: -2160px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20047{ background-position: -2160px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20048{ background-position: -2160px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20049{ background-position: -2160px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20050{ background-position: -2160px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20051{ background-position: -2400px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20052{ background-position: -2400px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20053{ background-position: -2400px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20054{ background-position: -2400px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20055{ background-position: -2400px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20056{ background-position: -2640px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20057{ background-position: -2640px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20058{ background-position: -2640px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20059{ background-position: -2640px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20060{ background-position: -2640px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20061{ background-position: -2880px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20062{ background-position: -2880px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20063{ background-position: -2880px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20064{ background-position: -2880px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20065{ background-position: -2880px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20066{ background-position: -3120px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20067{ background-position: -3120px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20068{ background-position: -3120px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20069{ background-position: -3120px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20070{ background-position: -3120px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20071{ background-position: -3360px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20072{ background-position: -3360px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20073{ background-position: -3360px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20074{ background-position: -3360px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20075{ background-position: -3360px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20076{ background-position: -3600px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20077{ background-position: -3600px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20078{ background-position: -3600px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20079{ background-position: -3600px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20080{ background-position: -3600px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20081{ background-position: -3840px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20082{ background-position: -3840px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20083{ background-position: -3840px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20084{ background-position: -3840px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20085{ background-position: -3840px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20086{ background-position: -4080px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20087{ background-position: -4080px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20088{ background-position: -4080px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20089{ background-position: -4080px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20090{ background-position: -4080px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20091{ background-position: -4320px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20092{ background-position: -4320px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20093{ background-position: -4320px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20094{ background-position: -4320px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20095{ background-position: -4320px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20096{ background-position: -4560px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20097{ background-position: -4560px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20098{ background-position: -4560px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20099{ background-position: -4560px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20100{ background-position: -4560px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20101{ background-position: -4800px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20102{ background-position: -4800px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20103{ background-position: -4800px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20104{ background-position: -4800px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20105{ background-position: -4800px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20106{ background-position: -5040px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20107{ background-position: -5040px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20108{ background-position: -5040px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20109{ background-position: -5040px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20110{ background-position: -5040px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20111{ background-position: -5280px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20112{ background-position: -5280px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20113{ background-position: -5280px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20114{ background-position: -5280px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20115{ background-position: -5280px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20116{ background-position: -5520px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20117{ background-position: -5520px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20118{ background-position: -5520px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20119{ background-position: -5520px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20120{ background-position: -5520px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20121{ background-position: -5760px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20122{ background-position: -5760px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20123{ background-position: -5760px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20124{ background-position: -5760px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20125{ background-position: -5760px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20126{ background-position: -6000px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20127{ background-position: -6000px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20128{ background-position: -6000px -782px; width: 190px; height: 190px; } 
.sprite-pre_loader20129{ background-position: -6000px -1173px; width: 190px; height: 190px; } 
.sprite-pre_loader20130{ background-position: -6000px -1564px; width: 190px; height: 190px; } 
.sprite-pre_loader20131{ background-position: -6240px 0; width: 190px; height: 190px; } 
.sprite-pre_loader20132{ background-position: -6240px -391px; width: 190px; height: 190px; } 
.sprite-pre_loader20133{ background-position: -6240px -782px; width: 190px; height: 190px; } 
