AddType image/svg+xml svg
AddType image/svg+xml svgz

RewriteEngine  on
RewriteBase    /~ourteam/
RewriteRule    /ourteam/ourteam.php   [R]
# RewriteRule ^ourteam/([a-z]+)/$ /ourteam/ourteam.php?selected_member=$1