.item.blade.keithreynaud{ width:25%;}
.item.carfridge.keithreynaud{ width:47.55859375%;}
.item.plasticbaby.keithreynaud{ width:10.05859375%;}
.item.fishinglure.keithreynaud{ width:8.0078125%;}
.item.barn.keithreynaud{ width:11.5234375%;}
.item.castironpan.keithreynaud{ width:37.59765625%;}
.item.rum.keithreynaud{ width:33.0078125%;}
.item.boardbinder.gloriapitagorsky{ width:27.34375%;}
.item.bracelet.gloriapitagorsky{ width:12.59765625%;}
.item.elephantfigure.gloriapitagorsky{ width:24.12109375%;}
.item.flowers.gloriapitagorsky{ width:38.37890625%;}
.item.montaukmagnet.gloriapitagorsky{ width:17.08984375%;}
.item.necklace.gloriapitagorsky{ width:16.11328125%;}
.item.jayson.gloriapitagorsky{ width:18.26171875%;}
.item.poster.gloriapitagorsky{ width:18.5546875%;}
.item.ring.gloriapitagorsky{ width:3.3203125%;}
.item.scarf.gloriapitagorsky{ width:39.6484375%;}
.item.zagat.gloriapitagorsky{ width:26.07421875%;}
.item.nytimes.gloriapitagorsky{ width:22.36328125%;}
.item.linushueycassette.philiploeb,
.item.linushueycassette7case.philiploeb{ width:9.66796875%;}
.item.cassette.philiploeb{ width:13.0859375%;}
.item.beardoll.philiploeb{ width:25.9765625%;}
.item.painting.philiploeb{ width:37.890625%;}
.item.smashedpenny.philiploeb{ width:4.296875%;}
.item.q102tshirt.philiploeb,
.item.q102tshirt.philiploeb{ width:24.4140625%;}
.item.turkey.philiploeb{ width:31.640625%;}
.item.books.taliarodgers{ width:22.94921875%;}
.item.comics.taliarodgers{ width:23.828125%;}
.item.minnieripperton.taliarodgers{ width:35.44921875%;}
.item.beachbum.taliarodgers{ width:21.97265625%;}
.item.nikefreehyperfeels.taliarodgers{ width:29.19921875%;}
.item.tanktop.taliarodgers{ width:28.7109375%;}
.item.toy.taliarodgers{ width:15.234375%;}
.item.bag.peonyrene{ width:21.875%;}
.item.pandorabracelet.peonyrene{ width:10.05859375%;}
.item.brunomars.peonyrene{ width:19.140625%;}
.item.lipstick.peonyrene{ width:7.6171875%;}
.item.ipadipodiphone.peonyrene{ width:18.45703125%;}
.item.carkeys.peonyrene{ width:20.21484375%;}
.item.necklace.peonyrene{ width:52.1484375%;}
.item.book.jodilevine{ width:16.50390625%;}
.item.sneakers.jodilevine{ width:34.9609375%;}
.item.yogamat.jodilevine{ width:54.8828125%;}
.item.knittingneedle.jodilevine{ width:26.26953125%;}
.item.pouch.jodilevine{ width:23.53515625%;}
.item.rings.jodilevine{ 
	// width:6.640625%;
	width: 11.640625%;
}
.item.marilynmonroe.jodilevine { width: 22%; }

li.item.jewels.gloriapitagorsky.heardcity {
	width:16%;
}

.item.rug.jodilevine{ width:43.26171875%;}
.item.seeds.jodilevine{ width:28.80859375%;}
.item.fly.corymelious{ width:8.88671875%;}
.item.skiboots.corymelious{ width:33.0078125%;}
.item.campingstove.corymelious{ width:24.8046875%;}
.item.drumsticks.corymelious{ width:4.98046875%;}
.item.hammer.corymelious{ width:17.87109375%;}
.item.recorder.corymelious{ width:15.8203125%;}
.item.homebrewbook.corymelious{ width:15.0390625%;}
.item.campinglantern.corymelious,
.item.shaker.corymelious{ width:17.578125%;}
.item.leela.evanmangiamele{ width:14.6484375%;}
.item.drumsticks.evanmangiamele{ width:15.91796875%;}
.item.controller.evanmangiamele{ width:39.94140625%;}
.item.gameboy.evanmangiamele{ width:14.2578125%;}
.item.growler.evanmangiamele{ width:19.7265625%;}
.item.boo.ericwarzecha{ width:20.60546875%;}
.item.guitar.ericwarzecha{ width:78.3203125%;}
.item.sabresjersey.ericwarzecha{ width: 70.511719%;}
.minorthreat.ericwarzecha,
.item.minorthreatourofstep.ericwarzecha{ width:33.69140625%;}
.floraldress.sashaawn,
.item.floralpatterneddress.sashaawn{ width:40.625%;}
.item.trapezegrips.sashaawn{ width:32.6171875%;}
.item.theremin.sashaawn{ width:41.6015625%;}
.item.passport.sashaawn{ width:10.7421875%;}
.item.bikepedal.sashaawn{ width:14.35546875%;}
.item.baseball.garynoel{ width:10.64453125%;}
.item.amctrailguide.garynoel{ width:12.109375%;}
.item.hasselblad.garynoel{ width:26.07421875%;}
.item.coral.garynoel{ width:25.1953125%;}
.item.mouse.garynoel{ width:7.2265625%;}
.item.firesticks.garynoel{ width:37.59765625%;}
.item.wacom.garynoel{ width:2.5390625%;}
.item.grillutensils.garynoel{ width:17.96875%;}
// .item.soccerclete.katieflynn{ width:17.1875%;}
.item.soccercleat.katieflynn{ width:17.1875%;}
.item.drill.katieflynn{ width:27.1484375%;}
.item.film.katieflynn{ width:23.73046875%;}
.item.chargersjersey.katieflynn{ width:36.03515625%;}
.item.necklace.katieflynn{ width:16.89453125%;}
.item.pizza.katieflynn{ width:33.69140625%;}
.item.whisk.katieflynn{ width:7.421875%;}
.item.taiwanbeer.jeremysiegel{ width:8.7890625%;}
.item.ambushpowchain.jeremysiegel{ width:16.89453125%;}
.s1991nikeairjordanvi.jeremysiegel,
.item.s1991nikeairjordanvisportblue.jeremysiegel{ width:36.62109375%;}
.item.retinamacbookpro.jeremysiegel{ width:40.8203125%;}
.item.kanyewest.jeremysiegel{ width:35.05859375%;}
.item.sampler.jeremysiegel{ width:17.67578125%;}
.item.bapexbyabathingape.jeremysiegel{ width:9.9609375%;}
.item.librarycard.elizabethmcclanahan{ width:4.58984375%;}
.item.guitar.elizabethmcclanahan{ width:83.0078125%;}
.item.readingglasses.elizabethmcclanahan{ width:17.7734375%;}
.item.saintsjersey.elizabethmcclanahan{ width:25.1953125%;}
.item.yogamat.elizabethmcclanahan{ width:58.88671875%;}
.tvguide.elizabethmcclanahan,
.item.goldengirlstvguidecover.elizabethmcclanahan{ width:14.16015625%;}
.item.yuengling.danflosdorf{ width:7.2265625%;}
.item.hockeystick.danflosdorf{ width:13.4765625%;}
.item.skateboard.danflosdorf{ width:16.89453125%;}
.item.snowboard.danflosdorf{ width:18.65234375%;}
.item.watch.danflosdorf{ width:7.91015625%;}