.ourteam {
	background: #fff;
}
.all-items {
  // height: 12000px;
  padding-bottom:  1100%;
  position:relative;
  width:100%; max-width:1024px;
  margin:0 auto;

  @media(min-width:1024px) {
  	padding-bottom: 12000px;
  }
}

.individual {

}

.item {
  position: absolute;

  img {
  	width:100%; max-width: 100%;
  	height: auto;
  }
}

.side-bar-closed + #click-close {
  display: none;
}

#members {
  padding:1em;
}

.team-member-new .member-text .permalink a {
  margin-left:0; letter-spacing: .07em;
}

.ourteam,
.js-single-member {
  #page-wrap {
    @media(min-width: 600px) {
        padding-right:60px;
    }
  }
}

#deeplink .footer {
margin-top: 160%;
z-index:100;
}

.js-single-member {
  #member-bio {
    display: none;
  }
}


@media (min-width: 480px) {
  /* line 340, ../sass/home/_teammember.scss */
  .module-member .member-text {
    width: 74%;
    margin-left: 13%;
  }
}
