// NEW MENU
.ourteam {
	#content {
		padding-top:48px;
	}

	// MENU
	.snap-drawer li:first-child {
		margin-bottom: 12px;

		&:after {
			content: '';
			display: block;
			width:50px; height:50px;
			cursor: pointer;
			background-image: url("../images/sprites/toggle-arrow.png");
			background-repeat: no-repeat;
			background-position: 50% 50%;
			top:48px;
			position: absolute;
			left:auto; right:0;
			border-left: 1px solid rgb( 192, 192, 192);
			border-bottom: 1px solid rgb( 192, 192, 192);
			border-right: 1px solid #fff;
		}
	}
	.snap-drawer li {
		line-height: 25px;
	}
	.snap-drawer li > a {
	  background-color: #ffffff;
	  border: none;
	  text-align: center;
	  text-decoration: none;
	  padding: 3px 0 3px;
	  font-size: 12px;
	  letter-spacing: .1em;
	  color: #989899;

	  -webkit-transition: all 500ms;
	  -moz-transition: all 500ms;
	  -o-transition: all 500ms;
	  -ms-transition: all 500ms;
	  transition: all 500ms;
	}

	// .snap-drawer > div:after {
	// 	content: '';
	// 	display: block;
	// 	background: rgb(31, 31, 31);
	// 	position: absolute;
	// 	bottom: 0;
	// 	width: 100%;
	// 	height: 272px;
	// }

	.snap-drawer > div > div {
		padding-top: 60px;
		padding-left: 25px;
		
		@media(min-width:600px) {
			padding-top: 73px;
			padding-left: 14px;
		}
	}

	#open-left {display: none;}

	.toggler {
		width:50px; height:50px;
		cursor: pointer;
		background-image: url("../images/sprites/toggle-arrow.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		top:48px;
		position: absolute;
		left:auto; right:0;
		border-left: 1px solid rgb( 192, 192, 192);
		border-bottom: 1px solid rgb( 192, 192, 192);
		border-right: 1px solid #fff;
	}

	// .footer {
	// 	position: absolute;
	// 	bottom: 0;
	// }

	#content {
		border-right:1px solid rgb(192, 192, 192);
	}


	@media(min-width: 600px) {
		#content {
			border-right:0;
		}
		#toolbar {
			width: 60px;
			height: 100%;
			left:auto;
			position: fixed;
			right: 0;
			left: auto;
			top: 0;
			border-left: 1px solid rgb(192, 192, 192);
		}
		.toggler {
			top:60px;
			left:0; right:0;
			margin: auto;
			border-left: 0;
			border-bottom: 0;
		}
		.snap-drawer-right {
			border-left:0;
		}
	}
}
