// OUR TEAM BASE SCSS
.ourteam.white-bg {background: #000;}

#cluetip > div.cluetip-outer > div > div:nth-child(5) > label {
	cursor: pointer;
}

// .ourteam div#cluetip.cluetip.ui-widget.ui-widget-content.ui-cluetip.clue-top-default.cluetip-default {
// 	width:100%;
// 	@media(min-width: 400px) {
// 		width:400px;
// 	}
// }

html, body { height: 100%; }

.ourteam { position: relative; }

#graph {
	position: relative;
	@media(min-width: 600px) {
		padding-right: 70px;
	}
	@media(min-width: 768px) {
		padding-right: 0;
	}
}

@media(min-width: 600px) {
	.js-single-member #graph {
		padding-right: 70px; 
	}
}

#member-header nav {
	@media(min-width: 600px) {
		margin-top: -36px;
	}
}

.sidebar-link {
	cursor: pointer;
}

#member-bio .ourteam {
	.all-members {
		text-decoration: none;
		letter-spacing: .07em;
	}
}

.ourteam-norm {
	background: #ffffff;
	color:$black;

	@include prefix(transition, all 750ms);
}

// OUR TEAM
// SPACE FOR FOOTER
// html {
// 	width:100% !important;
// }



.name,
.bio > p {
	@include prefix(transition, all 400ms);
}

.ourteam {
	padding-top: 93px;
	overflow-x:hidden;
	@media(min-width:600px) {
		padding-top:48px;
	}
}

.ourteam .footer { 
	margin-top: 160%; 
	@media(min-width: 1044px) {
		margin-top:1600px;
	}
}

@media(min-width: 768px) {
	.ourteam #member-bio .member-text {
	    width: 74%;
	    float: none;
	    margin-left: 13%;
	  }
}

// Silo and Member bio
.ourteam {

	input[type="radio"] {
		position: absolute;
		opacity: 0;
	}


	#member-bio {
		// z-index: 1;
		
		.team-member {
			width:100%;
			max-width: 1024px;
		}

		.member-text { 
			margin-left:3%;
			margin-top:0;
		}

		@media(min-width:768px) {

			.member-text {
				width: 74%;
				float:none;
				margin-left: 13%;
				margin-top:1em;
			}

			.bio {
				max-width:none;
				font-size: 1em;
				line-height: 1.6em;
			}

			.name { font-size: 1.4rem; }
		}
	}
}