/* LOGO */
#black-logo {
	max-width: 500px;
	width: 45%; height: 0;
	padding-bottom: 66%; margin: 0 auto;
	z-index: 1;
}

.logo {
	background-image: url("../../images/logo/logo-black.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


.home #mobile {
	position: relative;
}


.half {
	width:50%;
	float:left;
}

.image-spread-1 {
	background: white;
}

.image-spread .half-image {
	padding-bottom: 125%;
}

#guitar-nord {
	background-position: 12% 100%;
	background-size: 150% auto;
}
#jean-jacket {
	background-position: 0 50%;
	background-size: 150%;
}


@media(min-width: 600px) {
	#jean-jacket,
	#guitar-nord { background-size: cover; }
}


@media(min-width:1240px) {
	#jean-jacket {
		background-position: 0 35%;
		background-size: cover;
	}
}