*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


.item-holder {
	@include prefix(transition, all 500ms);
}

#item-list-holder {
	.item-list {
		.item-holder.hide-mem-items {
			opacity: 0;
			display: none;
			@include prefix(transition, all 500ms);
		}
	}
}



.container { position: relative; }
svg { max-height: 100%; }

.body-inner {
	width: 100%;
	position: relative;
	overflow-x: hidden;
}

.section-title {
  text-align: center;
}

/* line 140, ../sass/component/_base.scss */
.serif {
  font-family: 'Times New Roman' serif;
  line-height: 1.5em;
}


body {
	font-size: .938em; line-height: 1.4em;
	font-family: 'trackregular';
	color:#ffffff;
	background-color:$black;
	// @include prefix(transition, all 1000ms);

	@media(min-width:768px) {
		font-size: 1em;
	}
}

.white-bg {

	@include prefix(transition, all 1000ms);

	&:after {
		content: '';
		background:rgba(0,0,0,0.9);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 500;
		@include prefix(transition, all 1000ms);
	}
}

a {text-decoration: none !important;}
a { color:inherit; }

// HIDDEN - display none
.hidden {
	display: none;
	@include prefix(transition, all 1000ms);
}

// HIDDEN - still size
.ab-hidden {
	visibility: hidden;
	@include prefix(transition, all 1000ms);
}

// NOISE - needs height cleaned up.
.noise {
	background-image: url("../images/sprites/noise.png");
	background-repeat: repeat;
	display: block;
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
}

// CLEAR FIX
.clearfix:before, .container:after { content: ""; display: table; }  
.clearfix:after { clear: both; }  
/* IE 6/7 */  
.clearfix { zoom: 1; }  


// CROSS BROWSER TRANSPARENCY
.transparent {  
    filter: alpha(opacity=50); /* internet explorer */  
    -khtml-opacity: 0.5;      /* khtml, old safari */  
    -moz-opacity: 0.5;       /* mozilla, netscape */  
    opacity: 0.5;           /* fx, safari, opera */  
}  



.cl-effect-21:not(#phone-map) a {
	// padding: 10px;
	padding: 10px;
	color: $grey-text;
	position: relative;

	@include prefix(transition, color 0.3s);

}

.current a::before, 
.current a::after, 
.cl-effect-21:not(#phone-map) a::before,
.cl-effect-21:not(#phone-map) a::after {
	content: '';
	position: absolute;
	left: 0; right: 0;
	width: 9em;	height: 1px;
	background: #000;
	opacity: 0;
	margin: auto;
	
	@include prefix(transition, all 0.3s);
	@include prefix(transform, translateY(-6px));
}

.current a:before,
.cl-effect-21:not(#phone-map) a::before {
	top: 6px;

	@include prefix(transform, translateY(-6px));
}

.current a:after,
.cl-effect-21:not(#phone-map) a::after {
	bottom: 6px;

	@include prefix(transform, translateY(6px));
}

.cl-effect-21:not(#phone-map) a:hover,
.cl-effect-21:not(#phone-map) a:focus {
	color: #000;
}


.current a:before,
.current a:after,
.cl-effect-21:not(#phone-map) a:hover::before,
.cl-effect-21:not(#phone-map) a:focus::before,
.cl-effect-21:not(#phone-map) a:hover::after,
.cl-effect-21:not(#phone-map) a:focus::after {
	opacity: 1;

	@include prefix(transition, all 0.2s);
	@include prefix(transform, translateY(0px));
}