.mobile-hidden {
	display: none;
	@media(min-width: 600px) {
		display: block;
	}
}

.click-close { display: none; }

@media(min-width: 600px ) {
	.click-close {
		display: block;
		position: fixed;
		top: 0; left: 0;
		width: 100%; height: 100%;
		// background: rgba(0, 0, 0, 0.1);
		cursor: pointer;
		z-index: 1;
		text-decoration: none;

		@include prefix(transition, all 500ms);
	}

	#click-close.hidden, .hidden {
		display: none;
		@include prefix(transition, all 500ms);
	}
}

#member-title { 
	margin-top: -2em; 
	@media(min-width: 600px) { display: none; }
}


// HEADER FIXED ON ALL PAGES sans HOME
.ourteam,
.contact,
.projects {
	#site-header {
		position: fixed;
		top: 0; left: 0;
		z-index: 1000;

		@include prefix(transform, translateZ(1000));
		@include prefix(transform, translateX(0));
		@include prefix(transform, translateY(0));
	}
}

.home {
	#site-header {
		position: fixed;
		top: 0; left: 0;
		z-index: 1000;
		@include prefix(transform, translateZ(1000));
		@include prefix(transform, translateX(0));
		@include prefix(transform, translateY(0));

	}
}

@media(min-width:600px) { 
	.home #site-header { 
		position: relative; 
		z-index: 1000;
		@include prefix(transform, translateZ(1000));
	} 
	.home {padding-top: 0;}
}

#site-header .flexnav .current a {
	color:$black;
}

.ourteam,
.contact {
	padding-top: 45px;
	@media(min-width:600px) { padding-top: 48px; }
}


.projects {
	padding-top: 52px;
	@media(min-width:600px) {
	padding-top: 57px;
	}
}


.body-inner #site-header.sticky-top {
	border-bottom: 1px solid silver;
	width: 100%; max-width: none;
	position: fixed; 
	top: 0; left: 0; right: 0;
	// z-index: 1000;
	@include prefix(transform, translateX(0));
	@include prefix(transform, translateY(0));
	// @include prefix(transform, translateZ(1000));
}

@media(min-width: 480px) {
	.sticky-top + #first-container {
		// padding-top: 48px;
		margin-top: 48px;
	}
}

#site-header .flexnav .mobile-map-link {
	@media(min-width:600px) {
		display: none;
	}
}

#site-header .flexnav .mobile-map-link {

	text-align: center;

	.mobile-icon-holder {
		display: inline-block;

		.sprite-map {
			display: block;
			width: 90px; height: 90px;
			background-image: url(../images/social-icons/mobile-icons.svg);
			background-repeat: no-repeat;
			background-position: -208px -28px;
		}

		.sprite-email-lite {
			display: block;
			width: 90px; height: 90px;
			background-image: url(../images/social-icons/mobile-icons.svg);
			background-repeat: no-repeat;
			background-position: -116px -28px;
		}

		.sprite-phone {
			display: block;
			width: 90px; height: 90px;
			background-image: url(../images/social-icons/mobile-icons.svg);
			background-repeat: no-repeat;
			background-position: -24px -28px;
		}



	}
}




#site-header .flexnav li a.sprite-map {
	background-image: url(../images/social-icons/mobile-icons.svg);
	background-repeat: no-repeat;
	background-position: -128px -35px;
	display: block;
	float: right;
	@include prefix(transition, all 0);
}
#site-header .flexnav li a.sprite-map {
}


@media(min-width:600px) {
	#member-header {
		@include prefix(transform, translateX(0px));
		@include prefix(transition, all 500ms);
	}

	#member-header .sidebar-link {
		// visibility: visible;
		opacity: 1;
		@include prefix(transition, opacity 500ms);
	}

	#member-header.side-bar-closed {
		// @include prefix(transform, translateX(200px));
		@include prefix(transform, translateX(150px));
		#member-header .flexnav {
			width:170px;
		}
		.sidebar-link {
			opacity: 0;
		}
	}

	.side-bar-closed ul#member-fixed {
		width: 170px;
		@include prefix(transition, all 500ms);
	}
}

@media (min-width: 600px) {
.flexnav li {
	background-color:#ffffff;
	}
}
// ARROW TOGGLE
#member-button {
	@media(min-width:600px) {
		display: block;
		position: absolute;
		left: 18px;

		> div { color: transparent; }
	}
}

#member-button > div:after {
	content: '';
	display: block;
	background-image: url("../images/sprites/toggle-arrow.svg");
	background-repeat: no-repeat;
	position: absolute;

	top: 15px;
	left: 9px;
	z-index: 70;
	
	width: 18px; height: 18px;
	background-size: 45%;
	background-position: 50% 50%;
	@include prefix(transform, rotate(-90deg));
	@include prefix(transition, all 400ms);

	@media(min-width: 600px) {
		@include prefix(transform, rotate(0deg));
		top: -34px;
		// left: -12px;
		left: -14px;
	}
}

@media(min-width: 600px) {
#member-button.rotate > div:after {
	transform-origin: center center;
	@include prefix(transition, all 400ms);	
	@include prefix(transform, rotate(180deg));

	top: -34px;
	// left: 0;
	left: -10px;
	}
}

#member-header {
	background-color: #ffffff;
	width:100%;
	border-bottom:1px solid rgb(153, 153, 153);
	position: fixed;
	top: 47px; left: 0;
	z-index: 98;

	@include prefix(transform, translateX(0));
	@include prefix(transform, translateY(47));
	@include prefix(transform, translateZ(98));
	

	@media(min-width: 600px) {
		width: 260px; height: 100%;
		border-bottom: 0; 
		border-left: 1px solid rgb(192, 192, 192);
		box-sizing: content-box;
		padding-top: 50px;

		right: 0; left: auto;

		.page-title {
			display: none;
			position: relative;
			width:190px;
			right:5px; left:auto;
			text-align: left;
		}
	}


	.menu-button {
		background: #ffffff; border: none;
		font-size: .8em; letter-spacing: .15em;
		color:$black;

		> span.touch-button { display: none; }
	}

	.flexnav {
		@include prefix(transition, all 500ms);
		@media(min-width: 600px) {
				// width:250px;
				// width:175px;
				// width: 215px;
				width: 190px;
				text-align: left;
				padding-bottom: 0; margin-top: 0;
			}

		li {
			a {
				background-color: #ffffff; border: none;
				text-align: center; text-decoration: none;
				padding: 3px 0 3px;
				letter-spacing: .1em; color:$text-grey;
				font-size: 10px; line-height: 20px;

				@include prefix(transition, all 500ms);

				&:hover { color:$black; }
				
				@media (min-width: 600px) {
					padding: 2px 0;
					text-align: left;
					font-size: 12px;  line-height: auto;
				}
			}

			@media (min-width: 600px) {
				// width:250px;
				float:right; clear:right;
				width: 190px;
			}
		}
	}

	.flexnav li:last-of-type { margin-bottom:10px; }
}


#site-header {
	background-color: $grey;
	width:100%;
	border-top:1px solid rgb(153, 153, 153); border-bottom:1px solid rgb(153, 153, 153);
	position: fixed;
	
	// top: 0; left: 0;
	// z-index: 100;
	@include prefix(transform, translateX(0));
	@include prefix(transform, translateY(0));
	@include prefix(transform, translateZ(100));

	@media(min-width: 600px) { height: 50px; }
	
	.menu-button {
		background: $grey;
		border: none;
		font-size: .8em; letter-spacing: .15em; color:$black;

		> span.touch-button { display: none; }
	}

	.flexnav li {

		a {
			border: none; text-align: center; text-decoration: none;
			padding:15px 0 11px;
			background-color: $grey;
			// font-size: .8em; line-height: 20px;
			font-size: 10px; letter-spacing: .15em; color:$text-grey;

			&:hover { color:$black;}
			@include prefix(transition, all 500ms);
			@media(min-width: 600px) { font-size: .8em; line-height: auto; }
		}

		.current-page { color:$black; }

		@media(min-width: 600px) { width: 25% }
	}
	
	nav {
		max-width: 700px;
		margin: 0 auto;
	}
}

.page-title {
		display: inline-block;
		position: absolute;
		left: 0; right: 0;
		margin: auto; width: 10em; text-align: center;
		// margin-top: -2.7em;
		font-size: .8em; letter-spacing: .15em; color:$black;

		@media(min-width: 600px) { display: none; }
	}