span.ui-btn-inner {
	background-image:url('../images/sprites/toggle-arrow.svg');
	background-position: center center;
	background-repeat: no-repeat;
}

#all-members-bio {
	letter-spacing: .075em;
}

.member-text p {
	padding-right:60px;
}

#rightpanel {
	padding-top:42px;

	@media(min-width: 600px) {
		padding-top:0;
	}
}

#sidebar-button-holder {
	box-shadow: none;
}

#all-items-holder {
	// margin-left:-30px;
	margin-left:-60px;
}

a.ui-btn.ui-btn-inline.ui-btn-up-b.sidebar-link,
a.ui-btn.ui-btn-inline.ui-btn-up-b.all-members {
	font-family: 'trackregular' sans-serif;
	color: #989899;
	font-size: 12px;
	text-shadow:none;
	border: 0;
	margin-top:2px; margin-bottom:2px;
	background: none;
	font-weight: 400;
	letter-spacing: .05em;
}

#ourteam a {font-weight: 400 !important; text-shadow:none !important; text-decoration: none !important;}

#ourteam > div.ui-panel-content-wrap.ui-body-b.ui-panel-animate.ui-panel-content-wrap-closed {
	background: #ffffff;
}

#member-fixed {
	margin-top: -4px;

	@media(min-width: 600px) {
		margin-top: 38px;
	}
}

#rightpanel {
	z-index:999;
}
#rightpanel,
.ui-panel-inner {
	background-image: none;
	background-color:#fff;
}


@media(min-width: 600px) {
	.desk-hidden {
		display: none;
	}

}



#ourteam > div.ui-panel-content-wrap {
	background: #fff;
	background-image:none;
}

#rightpanel {
	border-left: 1px solid #999999;

	@media(min-width: 600px) {
		border-left:0;
	}
}



.ourteam .team-member .member-text .misc-text {
	font-size: .8rem;
	margin-bottom: .75rem;
	font-family: 'trackregular';
	color: #989899;
	letter-spacing: .15em;
}
.ourteam .team-member .member-text .name {
	font-size: 22px;
	letter-spacing: .15em;
	line-height: 1.2rem;
	font-family: 'trackregular';
	margin-bottom: .75em;
}

#cluetip > div.cluetip-outer > div > div:nth-child(4),
.ourteam #member-bio .bio {
	max-width: none;
	font-size: 16px;
	line-height: 1.6em;
	text-transform: none;
	font-family: 'Times New Roman', serif;
}
.ourteam .team-member .member-text .permalink {
	margin-top: 1.5rem;
}
.ourteam .team-member .member-text .permalink a, 
.ourteam .team-member .member-text .permalink label {
	font-size: .750em;
	color: #333333;
	position: relative;
	// margin-left: 0.875rem;
	font-family: 'trackregular';
	text-decoration: none;

	&:before {
		content: '> ';
	}
}


//////////////////////////// CLUE TIP ////////////////////////

#cluetip {
	background: #fff;
background-image: none;
border-radius: 0;
text-shadow: none;
font-weight: 400;

	.cluetip-outer {
		background: #fff;
	}
}

.cluetip-close {
	text-align: right;
	float: right;
	
	a {
		color:#222; text-decoration: none;
	}
}

#cluetip > div.cluetip-outer > div {
	padding: 21px;
}

#cluetip > div.cluetip-outer > div > div:nth-child(5) > label {
	cursor: pointer;
}

.ourteam .split-body:nth-of-type(2) {
	font-size: 13px;
	margin-bottom: 12px;
	letter-spacing: .15em;
	color: #989899;
}

.ourteam .split-body:nth-of-type(3) {
	font-size:21px;
	color: #333333;
	margin-bottom: 12px;
	letter-spacing: .15em;
}

.ourteam .split-body:nth-of-type(4) {
	margin-top: 0;
	margin-bottom: 12px;
	color: #646465;
	line-height: 1.4em;
	letter-spacing: .02em;
	font-family: 'Times New Roman' serif;
	text-transform: none;
}

.ourteam .split-body:nth-of-type(5) {
	font-size: .750em;
	color: #1f1f1f;
	position: relative;
	letter-spacing: .15em;
	cursor: pointer;
}

#cluetip {
	input[type="radio"] {
		opacity: 0;
	}
}




/////////////////////////////// NAVIGATION ///////////////////////////
#toppaneloverlay {
	max-height: none;
	padding-top: 42px;
}

#toppaneloverlay > div {
	padding:0;
}
#cluetip > div.cluetip-outer > div > div.cluetip-close {
	float: right;
	color:#222;
	text-decoration: none;
}
// #ourteam > div.ui-header.ui-bar-a.ui-panel-content-fixed-toolbar.ui-panel-animate.ui-header-fixed.slidedown.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-display-overlay.ui-panel-content-fixed-toolbar-open,
#ourteam > div.ui-header {
border-bottom: 1px solid rgb(153, 153, 153) !important;
z-index: 2000;
}

#ourteam > div.ui-header h1 {
	font-size: 13px;
	margin: 0;
	line-height: 42px;
}

#ourteam > div.ui-header.ui-bar-a.ui-panel-content-fixed-toolbar.ui-panel-animate.ui-panel-content-fixed-toolbar-closed.ui-header-fixed.slidedown > a,
#ourteam > div.ui-header.ui-bar-a.ui-panel-content-fixed-toolbar.ui-panel-animate.ui-panel-content-fixed-toolbar-closed.ui-header-fixed.slidedown > a > span {
	border:0;
	border-image:none;
}

div.ui-header.ui-bar-a.ui-panel-content-fixed-toolbar.ui-panel-animate.ui-header-fixed.slidedown.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-display-overlay.ui-panel-content-fixed-toolbar-open,
// #ourteam > div.ui-header.ay.ui-panel-content-fixed-toolbar-open,
// #ourteam > div.ui-header > a,
#ourteam > div.ui-header > a,
#ourteam > div.ui-header,
// #ourteam > div.ui-header.-display-overlay,
#ourteam > div.ui-header > a > span > span,
#ourteam > div.ui-header > a > span,
#page-ourteam > p > a > span,
#page-projects > p > a > span,
#page-contact > p > a > span,
#page-home > p > a > span,
div.ui-header.ui-bar-a.ui-panel-content-fixed-toolbar.ui-panel-animate.ui-header-fixed.slidedown.ui-panel-content-fixed-toolbar-closed,
#ourteam > div.ui-header.ui-bar-a.ui-panel-content-fixed-toolbar.ui-panel-animate.ui-header-fixed.slidedown.ui-fixed-hidden.ui-panel-content-fixed-toolbar-position-top.ui-panel-content-fixed-toolbar-display-overlay.ui-panel-content-fixed-toolbar-open {
	border:0;
	background-color: #e0e0e2;
	background-image: none;
	text-shadow: none;
	color:#222;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-family: 'trackregular' sans-serif;
	border-radius: 0;
}

#page-ourteam > p > a,
#page-projects > p > a,
#page-contact > p > a,
#page-home > p > a {
	border:0;
}
