// FEATURED WORK

.img-holder img {
		display:block;
		width:100%;
	}

.project-video-link {
	text-decoration: none;
	border-top: 1px solid #333; border-bottom: 1px solid #333;
	padding-top: 14px; padding-bottom: 10px;
	
	&:hover {color:red;}
}

.section-title input {
	position: absolute;
	opacity: 0;
}

.credits {
	display: inline-block;
	font-family:$serif; text-align: center;
	font-size: .938em; line-height:1.5em;
	margin-bottom:1em; margin-top:1em;

	@media(min-width: 480px) { font-size: 1rem; }
}

.featured-work {
	// padding:1.75em 0 0;
	padding:2.25em 0 0;
	.section-title {
		font-size:.938em;

		@media(min-width: 480px) {
			font-size: 1.25em;
		}
	}
}

.feat-work-slider-holder {
	position: relative;
	.feat-work-slider .work-slide .img-holder img {
		width:100%; max-width: 100%;
	}
}

.feat-work-slider { 
	li {
		position: relative;
		width:100%;
		.img-holder {
			width:82.03125%; max-width: 840px;
			margin:0 auto;
			margin-top: 1em;
		}

		.grey-theme {
			// color:#000;
			color:#FFF;
			text-align: center;
			width: 100%;
			display: table;
			height:160px;

			@media(min-width:480px) { height:200px;}
			@media(min-width:768px) { height:240px;}
			
			.sec-wrap {
				display: table-cell;
				vertical-align: middle;

				position: relative;
				z-index: 10;

				.section-title {
					margin-top:1em;
				}
			}
		}
	}
}

.black-theme {
	background-color:$black;
	color:$white;

	.section-title {
		margin-bottom:1em;
		letter-spacing: .15em;
		text-align: center;

		div {
			display: inline-block;
			font-size: .938em;
			position: relative;

			&:before {
				content: ''; display: block;
				border-top: 1px solid $grey-line;
				height:14px;
			}
			&:after {
				content: ''; display: block;
				border-bottom: 1px solid $grey-line;
				height:10px;
			}

			@media(min-width: 480px) { font-size:1.125rem; }
		}
	}
}

.work-slide {
	height: 0;
	padding-bottom: 300px;

	@media(min-width: 300px) {padding-bottom: 90%;}
	@media(min-width: 650px) {padding-bottom: 80%;}
	@media(min-width: 980px) {padding-bottom:730px;	}
}

