body.home {
	padding-top: 47px;
	@media(min-width: 600px) {
		padding-top:0;
	}
}

.mobile #anim-holder {
	display: none;
}

.hidden {
	display: none;
}
.home.desk {
	#ajax-loader {
		display: none;
	}
}

//SPINNER
.preload-wrap {
	display: none;
}

#anim-holder {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 1100;
	background: white;
	// background: rgba(255, 255, 255, 0.9);

	#preload-anim {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		display: block;
		z-index: 1101
	}
}


#ajax-loader {
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	background: #000;

	@include prefix(transition, all 750ms);

	.ajax-spinner {
		// max-width: 150px; max-height: 150px;
		width: 150px; height: 150px;
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		margin:auto; text-align: center;
		
		#spin-wheel { width: 50px; height:50px;}

		.logo-spin {
			width:150px;
			height: 194px;
		}
	}
}

/* Background */
.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
	/*background: #151515;*/
	background: transparent;
	color: #FFF;
}


/***************
*
*  1. Arrows
*
****************/

.rsDefault .rsArrow {
	height: 100%;
	width: 44px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}
.rsDefault.rsVer .rsArrow {
	width: 100%;
	height: 44px;
	
}
.rsDefault.rsVer .rsArrowLeft { top: 0; left: 0; }
.rsDefault.rsVer .rsArrowRight { bottom: 0;  left: 0; }

.rsDefault.rsHor .rsArrowLeft { left: 0; top: 0; }
.rsDefault.rsHor .rsArrowRight { right: 0; top:0; }

.rsDefault .rsArrowIcn {		
	// width: 32px;
	// height: 32px;
	width: 64px;
	height: 64px;
	top: 50%;
	left: 50%;
	// margin-top:-16px;
	margin-top:-32px;	
	// margin-left: -16px; 
	margin-left: -32px;

	position: absolute;	
	cursor: pointer;	
	// background: url('vendor/royal/rs-default.png');
	background: url('../images/sprites/grey-arrow.svg');
}



.rsDefault .rsArrowIcn:hover {
	// background-color: rgba(0,0,0,0.9);
}

.rsDefault.rsHor .rsArrowLeft .rsArrowIcn { 
	// background-position: -64px -32px; 
	// background-position: -109px -52px;
	// background-size: 540%;
	background-position: 18px -1px;
	background-size: 50%;
	background-repeat: no-repeat;
}

.rsDefault.rsHor .rsArrowRight .rsArrowIcn { 
	// background-position: -64px -64px; 
	// background-position: -109px -108px;
	// background-size: 540%;
	background: url('../images/sprites/grey-arrow-right.svg');
	background-position: 12px -1px;
	background-size: 50%;
	background-repeat: no-repeat;	
}

.rsDefault.rsVer .rsArrowLeft .rsArrowIcn { background-position: -96px -32px; }
.rsDefault.rsVer .rsArrowRight .rsArrowIcn { background-position: -96px -64px; }

.rsDefault .rsArrowDisabled .rsArrowIcn { opacity: .2; 
	filter: alpha(opacity=20);  
	// *display: none;
	 }


/******************* CHARLES STYLES */
.rsDefault .rsArrowIcn { display: none;}
@media(min-width: 768px) {
	.rsDefault .rsArrowIcn { display: block;}	
}


#featured-slider.rsDefault .rsArrowIcn { 
	// top: 25%; 
	top: 31%; 
}

@media(min-width:980px) {
	#featured-slider.rsDefault .rsArrowIcn {top: 220px; }
}


#marquee-slider > div.rsOverflow > div.rsArrow.rsArrowLeft > div,
#marquee-slider > div.rsOverflow > div.rsArrow.rsArrowRight > div {	
	display: none;
}

#grey-text-slider > div.rsOverflow > div.rsArrow.rsArrowLeft > div,
#grey-text-slider > div.rsOverflow > div.rsArrow.rsArrowRight > div,
#team-slider > div.rsOverflow > div.rsArrow.rsArrowLeft > div,
#team-slider > div.rsOverflow > div.rsArrow.rsArrowRight > div {
	// background-color: rgb(192, 192, 192);
	border-radius:0;
}









