// IMAGE SPREAD


.bg-img {
	background-repeat: no-repeat;
}

.half {
	width:50%;
	float:left;
}

.half2 {
	width:50%;
	float:left;
}

.image-spread {
	background-color: #fff;
	.half-image {
		padding-bottom:125%;

		// @media(min-width:1270px) { padding-bottom:850px; }
	}

	.image-holder {
		position: relative;
	}

	.section-title {
		position: absolute;
	    top: 50px;
	    left: 0;
	    right: 0;
	}
}



#dog-windows {
	background-position: 50% 100%;
	padding-bottom: 184px;
	@media(min-width:600px) { 
		padding-bottom: 362px;
	}

	@media(min-width:1040px) { 
		padding-bottom: 550px;
	}
	@media(min-width:1440px) { 
		padding-bottom: 710px;
	}
}


#windows {
	background-size: cover;
	// background-position: 100% 79%;
	background-position: 51% 79%;
	padding-bottom: 233px;

	@media(min-width:600px) { 
		padding-bottom: 484px;
	}

	@media(min-width:1040px) { 
		padding-bottom: 550px;
	}
	@media(min-width:1440px) { 
		padding-bottom: 710px;
	}
}



// #guitar-nord {
	// background-position: 22% 100%;
	// background-size: 150% auto;
	// @media(min-width:600px) {
	// 	background-size: cover;
	// }
// }

#dude-on-phone {
	background-position: 50% 50%;
	padding-bottom: 125%;
	width: 100%;
	background-size:cover;
}


#jean-jacket {
	background-position: 0 54%;
	background-size: 150%;
	@media(min-width:600px) {
		background-size: cover;
	}
	@media(min-width:1240px) {
		background-position: 0 35%;
		background-size: cover;
	}
}

#girl-large,
#stairs{
	background-position: 50% 50%;
	padding-bottom: 100%;
	width: 100%;
	background-size:cover;
}
