// MARQUEE SLIDES
.contentSlider { width:100%; }

// #marquee-slider,
// #marquee-slider li {
// 	@include prefix(transition, all 500ms);
// }

.js-show {
	li:not(:first-child) {
	  position: absolute; visibility: 0;
	}
}



.marquee-slide {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	padding-bottom: 66%;
	width:100%;

	@media (min-width: 1040px) {
		padding-bottom: 695px;	
	}
}

#black-logo {
	max-width: 500px;
	width: 45%; height: 0;
	padding-bottom: 66%; margin: 0 auto;
	z-index: 1;
	@media (min-width: 1040px) {
		padding-bottom: 695px;	
		// padding-bottom: 465px;
	}
}

#sun-light { background-image:url("../images/marquee/sun-light/sun-light-480.jpg");}
#sun-rays { background-image:url("../images/marquee/sun-rays/sun-rays-480.jpg");}
#sun-chairs { background-image:url("../images/marquee/sun-chairs/sun-chairs-480.jpg");}
#dog-windows { background-image:url("../images/dog/dog-480.jpg");}
#dude-on-phone { background-image:url("../images/man-phone/man-phone-480.jpg");}
#jean-jacket { background-image:url("../images/jean-jacket/jean-jacket-480.jpg");}
#guitar-nord { background-image:url("../images/guitar-nord/guitar-nord-480.jpg");}
#stairs { background-image:url("../images/stairs/stairs-480.jpg");}
#girl-large { background-image:url("../images/girl-large/girl-large-480.jpg");}

// @media(min-width:480px) { 
@media(min-width:600px) { 
	#sun-light { background-image:url("../images/marquee/sun-light/sun-light-960.jpg");}
	#sun-rays { background-image:url("../images/marquee/sun-rays/sun-rays-960.jpg");}
	#sun-chairs { background-image:url("../images/marquee/sun-chairs/sun-chairs-960.jpg");}
	#dog-windows {background-image:url("../images/dog/dog-960.jpg");}
	#dude-on-phone { background-image:url("../images/man-phone/man-phone-960.jpg");}
	#jean-jacket { background-image:url("../images/jean-jacket/jean-jacket-480.jpg");}
	#guitar-nord { background-image:url("../images/guitar-nord/guitar-nord-480.jpg");}
	#stairs { background-image:url("../images/stairs/stairs-480.jpg");}
	#girl-large { background-image:url("../images/girl-large/girl-large-480.jpg");}
}

// @media(min-width:960px) { 
@media(min-width:1040px) { 
	#sun-light { background-image:url("../images/marquee/sun-light/sun-light-1440.jpg");}
	#sun-rays { background-image:url("../images/marquee/sun-rays/sun-rays-1440.jpg");}
	#sun-chairs { background-image:url("../images/marquee/sun-chairs/sun-chairs-1440.jpg");}
	#dog-windows {background-image:url("../images/dog/dog-1440.jpg");}
	#dude-on-phone { background-image:url("../images/man-phone/man-phone-1440.jpg");}
	#jean-jacket { background-image:url("../images/jean-jacket/jean-jacket-768.jpg");}
	#guitar-nord { background-image:url("../images/guitar-nord/guitar-nord-768.jpg");}
	#stairs { background-image:url("../images/stairs/stairs-960.jpg");}
	#girl-large { background-image:url("../images/girl-large/girl-large-960.jpg");}
}

@media(min-width:1440px) { 
	#sun-light { background-image:url("../images/marquee/sun-light/sun-light-1920.jpg");}
	#sun-rays { background-image:url("../images/marquee/sun-rays/sun-rays-1920.jpg");}
	#sun-chairs { background-image:url("../images/marquee/sun-chairs/sun-chairs-1920.jpg");}
	#dog-windows {background-image:url("../images/dog/dog-1920.jpg");}
	#dude-on-phone { background-image:url("../images/man-phone/man-phone-1920.jpg");}
	#stairs { background-image:url("../images/stairs/stairs-1440.jpg");}
	#girl-large { background-image:url("../images/girl-large/girl-large-1440.jpg");}
}