// FOOTER SCSS
.footer {
	color:$footer-grey;
	font-family:'sans-serif';
	background-color: #1f1f1f;
	z-index: 10;
	position: relative;

	.footer-inner {
		padding:2em 0 15em;

		.footer-logo{
			background-image:url('../img/build/logos/footer-logo.png');
			background-repeat:no-repeat;
			background-size:contain;
			width:124px;
			height:124px;
			float:left;
			margin: 0 .5em;
		}

		.address {float:left;}

		.social-icons {
			float:right;
			margin-top:.5em;
			margin-right:2em;

			.icon-holder {
				position: relative;
				float:left;
				display:block; float:left;
				
				a {
					display: block;
					width:90px; height:90px;
					background-repeat:no-repeat;
				}
			}

			@media(min-width:768px) {
				.icon-holder:nth-child(2) {
					margin-right:4em;
				}
			}
		}
	}
}


.address {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: .5em 1em;
	font-size:.938em;

	ul {
		li {
			line-height: 1.6em;
		}
	}
}

// SOCIAL ICONS

.sprite {
    background-image: url(../img/social/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-email {
    width: 90px;
    height: 90px;
    background-position: 0 0;
}

.sprite-facebook {
    width: 90px;
    height: 90px;
    background-position: -90px 0;
}

.sprite-instagram {
    width: 90px;
    height: 90px;
    background-position: 0 -90px;
}

.sprite-map {
    width: 90px;
    height: 90px;
    background-position: -90px -90px;
}

.sprite-twitter {
    width: 90px;
    height: 90px;
    background-position: -180px 0;
}

.sprite-you-tube {
    width: 90px;
    height: 90px;
    background-position: -180px -90px;
}

// .sprite {
//     background-image: url(../img/social/spritesheet-new.png);
//     background-repeat: no-repeat;
//     display: block;
// }

// .sprite-arrow {
//     width: 29px;
//     height: 30px;
//     background-position: -5px -5px;
// }

// .sprite-close {
//     width: 28px;
//     height: 27px;
//     background-position: -44px -5px;
// }

// .sprite-email {
//     width: 90px;
//     height: 90px;
//     background-position: -82px -5px;
// }

// .sprite-facebook {
//     width: 90px;
//     height: 90px;
//     background-position: -5px -105px;
// }

// .sprite-grey-left {
//     width: 31px;
//     height: 31px;
//     background-position: -182px -5px;
// }

// .sprite-grey-right {
//     width: 31px;
//     height: 31px;
//     background-position: -223px -5px;
// }

// .sprite-instagram {
//     width: 90px;
//     height: 90px;
//     background-position: -105px -105px;
// }

// .sprite-map {
//     width: 90px;
//     height: 90px;
//     background-position: -264px -5px;
// }

// .sprite-tiny-arrow {
//     width: 32px;
//     height: 41px;
//     background-position: -205px -105px;
// }

// .sprite-toggle-arrow {
//     width: 23px;
//     height: 29px;
//     background-position: -247px -105px;
// }

// .sprite-twitter {
//     width: 90px;
//     height: 90px;
//     background-position: -247px -144px;
// }

// .sprite-you-tube {
//     width: 90px;
//     height: 90px;
//     background-position: -5px -244px;
// }

