// MAIN NAV SCSS

#new-menu-holder {
	border-bottom: 1px solid rgb(153, 153, 153);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);

	@include prefix(transform, translateZ(0));
}

@media(max-width:768px) {
	.ourteam #new-menu-holder {
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	}
}

#new-menu .current-page {
	display: none;

	@media(min-width:768px) {
		display:inline-block;
	}
}

.new-menu-holder {
	background-color:$grey;

	.new-menu {
		width:100%; max-width:700px;
		margin:0 auto; 
		padding: 0;
		text-align: justify; text-transform: uppercase;
		position: relative;

		@media(min-width:768px) {
			padding: 4px 0;
		}

		li {
			width:100%;
			display:block;
			padding: 4px 0;

			&:last-of-type { border-bottom:0;} 

			@media(min-width:768px) {
				
				&:first-of-type { border-top:0;}
				
				padding: 0;
				width:25%;
				display:inline-block;
				border-bottom:0;
				text-align: center;
			}

			a, .current-page {
				
				display:block;
				font-size: .8em;
				text-align: center;
				padding: 14px 0 10px;
				letter-spacing: .0625em;
				text-decoration:none;

				@include prefix(transition, color 250ms);
			}
		}
		.current-page {
			a { color:$black; }
		}
	}
}

#new-menu-collapse {
	@media(min-width:768px) {
		border-top: 1px solid silver;
	}
}

#nav-page-title { letter-spacing: .15em; }

.top {
	height:42px;
	position: relative;
	text-align: center;

	.navLink {
		display:block;
		width:24px; height:24px;
		position: absolute;
		top: 14px; left: 14px;
	}
}

.nav-page-title {
	font-size: .75em;
	display: inline-block;
	padding-top:17px;
}

@media(min-width:768px) {
	.desktop-hidden { display:none; }
}


// --------------- NEW MENU ------------ //
body.home,
body.ourteam,
body.projects,
body.contact,
body.single {
	padding-top:42px;

.new-menu-holder {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	border-bottom: 1px solid silver;
	}
}

body.home .new-menu-holder { border-bottom: 0px; }

body.ourteam { padding-top:88px; }

@media(min-width:768px) {
	body.ourteam,
	body.projects,
	body.contact,
	body.single {
		padding-top:49px;
	
		.new-menu-holder {
			position: fixed;
			width: 100%;
			z-index: 100;
			background: $grey;
			height: 49px;
		}
	}

	body.home {
		padding-top:0;

		.new-menu-holder {
			position: relative;
			width: 100%;
			z-index: 100;
			background: $grey;
			height: 49px;
		}
	}
}


// STICKY NAV for HOME php

.sticky-top {
	position: fixed !important;
	top:0 !important;
	left:0 !important;
	right:0 !important;
	width:100% !important;
	max-width: none !important;
	z-index:1000;
	border-bottom: 1px solid silver;
	
	@include prefix(transform, translate3d(0,0,0));
}

@media(min-width:768px) {
	.sticky-top + #first-container { padding-top:52px; }
}

// Nav - current page schema
.projects .main-menu-holder .main-menu .menu-projects a {color:$black;}
.contact .main-menu-holder .main-menu .menu-contact a {color:$black;}
.home .main-menu-holder .main-menu .menu-home a {color:$black;}
.ourteam .main-menu-holder .main-menu .menu-ourteam a,
.single .main-menu-holder .main-menu .menu-ourteam a 
{color:$black;}