// Styles for Text Slider
.arrow {
	width:30px; height:30px;
	margin-top: -15px;
	background-image:url(../img/build/sprites/arrow.png);
	background-size: contain;
	position: absolute; top:50%;
}

.black-arrow-left { 

	@include prefix(transform, rotate(180deg));

	left:.5em;
}
.black-arrow-right { right:.5em;}

// TEXT SLIDER
.text-slider {
	text-align: center;
	font-size: .938em;

	li {
		.slide-text {
			text-transform: uppercase;
			display: inline-block;
			letter-spacing: .15em;

			@media(min-width:480px) {
				font-size: 1.125rem;
			}
		}
	}
}


.grey-theme > .noise {opacity: 1 !important;}

.black-theme {

	.noise {opacity: .5;}

	.text-slider {
		color:$white;
		
		li {
			height: 160px;
			width:100%;
			display: table;

			@media(min-width: 380px) {
				height:200px;
			}

			.inner-slide {
				display: table-cell;
				vertical-align: middle;	

				.slide-text {
					position: relative;
					display: inline-block;
					max-width:75%;
					line-height: 1.2rem;

					&:before {
						content: ''; display:block;
						border-top: 1px solid $grey-line;
						// height:1em;
						height:14px;
					}

					&:after {
						content: ''; display:block;
						border-bottom: 1px solid $grey-line;
						// height:.85em;
						height:12px;
					}
				}
			}
		}
	}
}

#first-container { height:160px; }

@media(min-width:480px) {
	#first-container,
	.black-theme .text-slider li {
			height:240px;
	}

	.grey-theme .text-slider li {
			height:240px;
	}


}

@media(min-width:1024px) {
	#first-container,
	.black-theme .text-slider li {
		height:280px;
	}

	.grey-theme .text-slider li {
		height:280px;
	}
}