// DEV 

// Silo and Member bio
#member-bio {
	.team-member {
		width:100%;
		max-width: 1024px;
	}

	.image {width: 20%;}

	.member-text {
		width: 74%;
		margin-left: 2%;
	}

	@media(min-width:480px) {
		.image {width: 30%;}

		.member-text {
			float:left;
			margin-left:0;
		}

		.bio {
			max-width:none;
			font-size: 1em;
			line-height: 1.6em;
		}

		.name {
			font-size: 1.4rem;
		}
	}
}

// LAYOUT
.item-list .item-holder {
		position: relative;
		display: inline-block;
	}

.team-member-items {
	h1 {letter-spacing: .13em;}
}

// TYPE
.item-hover {
	width:100%; min-width:10em;

	position: absolute;
	top:0; left:0; right:0; bottom:0;
	margin:auto; padding:.5rem 1rem;
	display: table;

	background-color: rgba(255, 255, 255, 0.95);
	color:black;
	opacity: 0;

	border: 1px solid rgba(0, 0, 0, 0.15);

	@include prefix(box-shadow, 2px 5px 8px rgba(0, 0, 0, 0.5) );

	@include prefix(transition, all 500ms);

	.item-hover-inner {
		display: table-cell;
		vertical-align: middle;
		padding-top:.5em;
		padding-bottom: 2em;

		h2 {
			font-size: 1.6em;
			letter-spacing: .13em;
			margin-bottom: .5em; margin-top:.5em;
			text-align: center;
		}

		p {
			min-width: 12em;
			margin-bottom:.25em;
			line-height: 1.4em;
		}

		.view-profile {
			display: inline-block;
			font-size: .7em;
			margin:.25em 0;
			color:$grey-text;
			letter-spacing: .1em;
			line-height: 1.4em;

			&:hover {
				color:$red;
			}
		}
	}
}


// EFFECTS
.map-link {
	display:block;
	top:-33%;
}

// Items Hover Try
.neighbor {
    opacity: 0;
    display: inline-block;
    position:absolute;
    min-width: 12em;
    background: rgba(255, 255, 255, 0.95);
    border:1px solid silver;
    padding:.5em;
    box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
    z-index: 0;

    @include prefix(transition, all 500ms);
}

// FOR JS
.map-link.js-high-z:hover {
	opacity: 1;
    z-index: 2;
}

.js-high-z {
	opacity: 1;
    z-index: 2;

    @include prefix(transition, all 500ms);
}