// ITEMS for 'Our Team' Page layout
 .ourteam { 
 	background-color:#fff; 
 	.serif {
		text-transform: none;
	}
 }

// CLASS for SIDEBAR CHANGE
.js-single-member {
	// Member List no padding
	#item-list-holder .item-list { padding-bottom:0;}
	// Change positioning on items to show at top of page
	#graph #item-list-holder .item-list .item-holder {
		display:block;
		position: relative; 
		top:auto !important; 
		left:auto !important;
		float:left;
		// @include prefix(transition, all 500ms);
	}
	// Lessen margin on footer to see all single-items in viewport
	.ourteam .footer { margin-top:40px;}
}

// .item-holder.lipstick.peonyrene,
.item-holder.poster.gloriapitagorsky { z-index: 1; }

#graph { margin-top:40px; }

// HOVER POP UP
.neighbor {
    display: inline-block;
    position:absolute; 
    z-index: 0;
    width:462px;
    opacity: 0;

    @include prefix(transition, z-index 400ms);
    @include prefix(transition, opacity 400ms);
    
    .pop-up {
		border:1px solid $grey-text;
		@include prefix(box-shadow, 0px 10px 10px rgba(50, 50, 50, 0.75));

		&:after {
			content:'';
			display: block; margin:auto;
			width:40px; height:40px;
			position: absolute; 
			bottom:-20px; left:0; right:0;
			background-color:#ffffff;
			border-bottom:1px solid $grey-text;
			border-left:1px solid $grey-text;
			@include prefix(transform, rotate(-45deg));
			@include prefix(box-shadow, -8px 8px 8px rgba(50, 50, 50, 0.75));
		}

		.team-member {
			position: relative;
			z-index: 1;

			.image {
				width: auto;
				vertical-align: top;

				img {
					max-width: 85px;
					margin-left: .5em;
				}
			}

			.member-text {
				width:auto;
				margin-top: .5em; margin-left: 0; margin-right:1em;
				padding-left:.5em;

				li { margin-bottom:.25em; }

				.misc-text { color:$black; }
				.name { margin-top: .25em; }
				.bio { letter-spacing:.05em; text-transform: none !important;} 
				.serif {
					margin-top:.6em;
					color:$popup-grey;
					line-height: 1.4em;
					letter-spacing: .02em;
				}
				.permalink {
					margin-top:1em;

					a {
						font-weight: 100;
						letter-spacing:.05em;
					}
				}
			}
		}
	}
  
}

// FOR JS
.map-link:hover,
.map-link:hover .js-high-z:hover,
.map-link.js-high-z:hover,
.js-high-z {
	opacity: 1;
    z-index: 1;
}

// Layer classes
.negZ {z-index: -1 !important; 
	@include prefix(transition, opacity 500ms);
}
.zeroZ {z-index:0; 
	@include prefix(transition, opacity 500ms);
}
.posZ {z-index:1; 
	@include prefix(transition, opacity 500ms);
}

.item-list-holder {
	width:100%; max-width:1024px;
	margin:0 auto;
	height:auto;
	padding-bottom: 100%;
}

#item-list-holder .item-list {
	position: relative;
	width:100%; max-width: 1024px;
	margin: 0 auto;
	padding-bottom: 12000px;
}


#item-list-holder {

	.item-holder { position: absolute; opacity: 1; }

	li.item-holder.beardoll.philiploeb {
		top:.57%; left:11.5%;
	}

	li.item-holder.baseball.garynoel {
		top: 0.87%; left: 40%;
	}

	li.item-holder.skiboots.corymelious {
		top: 2.1%; left: 26%;	
	}

	li.item-holder.poster.gloriapitagorsky {
		top: 0.5%; left: 56%;
	}

	li.item-holder.lipstick.peonyrene {
		top: 3%; left: 62.5%;
	}

	li.item-holder.fishinglure.keithreynaud {
		top: 3.1%; left: 78%;
	}

	li.item-holder.hasselblad.garynoel {
		top: 3.9%; left: 62%;
	}

	li.item-holder.taiwanbeer.jeremysiegal {
		top: 0.45%; left: 79.1%;
	}

	li.item-holder.guitar.elizabethmcclanahan {
		top: 5.3%; left: 7.5%;
	}

	li.item-holder.coral.garynoel {
		top: 7.6%; left: 66%;
	}

	li.item-holder.readingglasses.elizabethmcclanahan {
		top: 7.1%; left: 51%;
	}

	li.item-holder.book.jodilevine {
		top: 8.4%; left: 13.5%;
	}

	li.item-holder.montaukmagnet.gloriapitagorsky {
		top: 8.4%; left: 41.5%;
	}

	li.item-holder.zagat.gloriapitagorsky {
		top: 9.8%; left: 35.5%;
	}

	li.item-holder.passport.sashaawn {
		top: 9.65%; left: 76.5%;
	}

	li.item-holder.librarycard.elizabethmcclanahan {
		top: 10.3%; left: 67%;
	}

	li.item-holder.recorder.corymelious {
		top: 11.6%; left: 18.5%;
	}

	li.item-holder.rings.jodilevine {
		top: 11.4%; left: 33%;
	}

	li.item-holder.bapexbyabathingape.jeremysiegal {
		top: 11.8%; left: 57%;
	}

	li.item-holder.goldengirlstvguidecover.elizabethmcclanahan {
		top: 14.4%; left: 19%;
	}

	li.item-holder.wacom.garynoel {
		top: 14.48%; left: 41%;
	}

	li.item-holder.boo.ericwarzecha {
		top: 14.1%; left: 48%;
	}

	li.item-holder.barn.keithreynaud {
		top: 14.1%; left: 75%;
	}

	li.item-holder.fly.corymelious {
		top: 15.65%; left: 77.2%;
	}

	li.item-holder.yogamat.elizabethmcclanahan {
		top: 16.95%; left: 15%;
	}

	li.item-holder.watch.danflosdorf {
		top: 16.9%; left: 78.9%;
	}

	li.item-holder.drumsticks.evanmangiamele {
		top: 18.5%; left: 11.5%;
	}

	li.item-holder.castironpan.keithreynaud {
		top: 19%; left: 10.7%;
	}

	li.item-holder.smashedpenny.philiploeb {
		top: 19.175%; left: 53.5%;
	}

	li.item-holder.leela.evanmangiamele {
		top: 20.1%; left: 47.5%
	}

	li.item-holder.campingstove.corymelious {
		top: 18.65%; left: 66%;
	}

	li.item-holder.sabresjersey.ericwarzecha {
		top: 22.1%; left: 15%;
	}

	li.item-holder.mouse.garynoel {
		// top: 26.4%; 
		top: 25.9%;
		left: 19%;
	}

	li.item-holder.amctrailguide.garynoel {
		// top: 27.4%; 
		left: 78.5%;
		top: 26.75%;
	}

	li.item-holder.homebrewbook.corymelious {
		// top: 28.25%; 
		top: 27.7%;
		left: 25%;
	}

	li.item-holder.\31 991nikeairjordanvisportblue.jeremysiegal {
		// top: 29.1%; left: 29.8%;
		top: 27.7%; left: 29.8%;
	}

	li.item-holder.drumsticks.corymelious {
		top: 28.6%; left: 20%;
	}

	li.item-holder.gameboy.evanmangiamele {
		top: 29%; left: 75.6%;
	}

	li.item-holder.rug.jodilevine {
		top: 31.4%; left: 43%;
	}

	li.item-holder.growler.evanmangiamele {
		top: 31.8%; left: 14.9%;
	}

	li.item-holder.bracelet.gloriapitagorsky {
		top: 34.8%; left: 40%;
	}

	li.item-holder.snowboard.danflosdorf {
		top: 35%; left: 62.5%;
	}

	li.item-holder.firesticks.garynoel {
		top: 36.2%; left: 13%;
	}

	li.item-holder.ambushpowchain.jeremysiegal {
		top: 36.6%; left: 40.3%;
	}

	li.item-holder.controller.evanmangiamele {
		// top: 43.85%; left: 35.7%;
		top: 43.7%; left: 37%;
	}

	li.item-holder.soccerclete.katieflynn {
		top: 43.4%; left: 15%;
	}

	li.item-holder.linushueycassette7case.philiploeb {
		top: 47.1%; left: 70.2%;
	}

	li.item-holder.q102tshirt.philiploeb {
		top: 47.1%; left: 19%;
	}

	li.item-holder.yuengling.danflosdorf {
		top: 47.9%; left: 49.5%;
	}

	li.item-holder.cassette.philiploeb {
		top: 48.7%; left: 67.2%;
	}

	li.item-holder.brunomars.peonyrene {
		top: 50.7%; left: 27%;
	}

	li.item-holder.film.katieflynn {
		top: 50%; left: 60%;
	}

	li.item-holder.floralpatterneddress.sashaawn {
		top: 52.5%; left: 12%;
	}

	li.item-holder.scarf.gloriapitagorsky {
		top: 52.25%; left: 52%;
	}

	li.item-holder.minorthreatourofstep.ericwarzecha {
		top: 54.8%; left: 54%;
	}

	li.item-holder.pouch.jodilevine {
		top: 57.3%; left: 59%;
	}

	li.item-holder.retinamacbookpro.jeremysiegal {
		top: 59%; left: 9.5%;
	}

	li.item-holder.turkey.philiploeb {
		top: 59%; left: 57%;
	}

	li.item-holder.pandorabracelet.peonyrene {
		top: 61.3%; left: 51%;
	}
	
	li.item-holder.beachbum.taliarodgers {
		top: 61.2%; left: 65%;
	}

	li.item-holder.trapezegrips.sashaawn {
		top: 62.25%; left: 55.5%;
	}

	li.item-holder.painting.jodilevine {
		top: 63%; left: 11%;
	}

	li.item-holder.theremin.sashaawn {
		top: 63.55%; left: 12.5%;
	}

	li.item-holder.bag.peonyrene {
		top: 64.6%; left: 63%;
	}

	li.item-holder.carfridge.keithreynaud {
		top: 66.3%; left: 42.5%;
	}

	li.item-holder.ipadipodiphone.peonyrene {
		top: 66.2%; left: 16%;
	}

	li.item-holder.necklace.peonyrene {
		top: 67.8%; left: 5%;
	}

	li.item-holder.rum.keithreynaud {
		top: 70.9%; left: 15%;
	}
	
	li.item-holder.jayson.gloriapitagorsky {
		top: 70.6%; left: 55%;		
	}

	li.item-holder.guitar.ericwarzecha {
		top: 71.9%; left: 14.5%;
	}

	li.item-holder.kanyewest.jeremysiegal {
		top: 74%; left: 8.5%;
	}

	li.item-holder.hockeystick.danflosdorf {
		top: 74.7%; left: 70%;
	}

	li.item-holder.tanktop.taliarodgers {
		top: 76.7%; left: 41%;
	}

	li.item-holder.elephantfigure.gloriapitagorsky {
		top: 76.5%; left: 15%;
	}

	li.item-holder.books.taliarodgers {
		top: 78.15%; left: 16%;
	}

	li.item-holder.hammer.corymelious {
		top: 80.45%; left: 13.5%;
	}

	li.item-holder.pizza.katieflynn {
		top: 81.15%; left: 35%;
	}

	li.item-holder.necklace.katieflynn {
		top: 83.7%; left: 18.25%;
	}

	li.item-holder.yogamat.jodilevine {
		top: 84.5%; left: 40%;
	}

	li.item-holder.knittingneedle.jodilevine {
		top: 86.6%; left: 19%;
	}

	li.item-holder.blade.keithreynaud {
		top: 87.3%; left: 19%;
	}

	li.item-holder.minnieripperton.taliarodgers {
		top: 86.5%; left: 55%;
	}

	li.item-holder.flowers.gloriapitagorsky {
		top: 88.8%; left: 49.5%;
	}

	li.item-holder.ring.gloriapitagorsky {
		top: 89.45%; left: 43.5%;
	}

	li.item-holder.boardbinder.gloriapitagorsky {
		top: 90.4%; left: 18.5%;
	}

	li.item-holder.nikefreehyperfeels.taliarodgers {
		top: 91%; left: 52.5%;
	}

	li.item-holder.chargersjersey.katieflynn {
		top: 93.15%; left: 20%;
	}

	li.item-holder.comics.taliarodgers {
		top: 93.6%; left: 60%;
	}

	li.item-holder.plasticbaby.keithreynaud {
		top: 97%; left: 44.5%;
	}

	li.item-holder.bikepedal.sashaawn {
		top: 96.65%; left: 57.5%;
	}

	li.item-holder.grillutensils.garynoel {
		top: 97%; left: 23%;
	}

	li.item-holder.seeds.jodilevine {
		top: 97.8%; left: 53%;
	}

	li.item-holder.carkeys.peonyrene {
		top: 100.25%; left: 39.5%;
	}

	li.item-holder.nytimes.gloriapitagorsky {
		top: 100.6%; left: 70.5%;
	}

	li.item-holder.necklace.gloriapitagorsky {
		top: 102%; left: 44.5%;
	}

	li.item-holder.saintsjersey.elizabethmcclanahan {
		top: 104.35%; left: 41.5%;
	}

	li.item-holder.skateboard.danflosdorf {
		top: 102.35%; left: 72.5%;
	}

	li.item-holder.toy.taliarodgers {
		top: 104.4%; left: 21.5%;
	}

	li.item-holder.sneakers.jodilevine {
		top: 108.4%; left: 20%;
	}

	li.item-holder.drill.katieflynn {
		top: 108.7%; left: 59%;
	}

	li.item-holder.whisk.katieflynn {
		top: 109.6%; left: 58%;
	}

	li.item-holder.telluridepicture.ericwarzecha {
		top: 112%; left: 18%;
	}

}

// LIST ITEM POSITIONS

// #item-list-holder > .item-list {
// 	border-left:1px solid green;
// 	border-right:1px solid green;
// }

// #item-list-holder > .item-list:before {
// 	content: '';
// 	display: block;
// 	width: 1px;
// 	height: 100%;
// 	background: green;
// 	z-index: 2;
// 	position: absolute;
// 	top: 0;
// 	left: 100px;

// }

// #graph:after {
// 	content: '';
// 	display: block;
// 	width: 1px;
// 	height: 100%;
// 	background: green;
// 	z-index: 2;
// 	position: absolute;
// 	top: 0;
// 	left: 50%;
// }

// div#item-list-holder:after {
// 	content: '';
// 	width: 100%;
// 	height: 1px;
// 	background: green;
// 	display: block;
// 	position: absolute;
// 	z-index: 2;
// 	top: 40px;
// }

