// VARIABLES

$black: 		rgb(31,31,31);
$hover-black: 	rgb(19,19,19);
$grey: 			rgb(224,224,226);
$menu-grey: 	rgb(155,155,155);
$grey-text: 	#989899; //rgb(210,210,210);
$footer-grey: 	rgb(145,146,147);
$grey-theme:    rgb(241, 241, 241);
$white: 		rgb(237, 238, 241);
$stroke: 		#d1cfcf;

$border-grey: 	#b7b7b7;
$grey-line:  	rgb(64, 64, 64);

$red: 			#c84938;



// Typography
$serif: 		'TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif';



// MIXINS

@mixin prefix($property, $value, $prefixes: ("-webkit-","-moz-","-o-","-ms-","")) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }
}